<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>United Transindo Admin Dashboard</title>
	<!-- <title>NobleUI Responsive Bootstrap 4 Dashboard Template</title> -->
	<!-- core:css -->
	<link rel="stylesheet" href="./vendors/core/core.css">
	<!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="./vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="./vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="./vendors/table-scroll-shadow/table-scroll-shadow.min.css">
	<!-- end plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="./fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="./vendors/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->
  <!-- Layout styles -->  
	<link rel="stylesheet" href="./css/demo_1/style.css">
  <!-- End layout styles -->
  <!-- <link rel="shortcut icon" href="./images/favicon.png" /> -->
  <link rel="icon" type="image/x-icon" href="./images/icons/Logo United Transindo.ico">
  <style>
    .page-content {
      padding-bottom: 0 !important;
      display: grid;
    }
    .spinner-border {
      position: absolute;
      top: calc(50% + 30px);
      left: calc(50% + 120px);
    }
    /* #myList .list-group-item-action:focus {
      border: 1px solid rgba(0, 0, 0, 0.125);
      opacity: 0.5;
    } */
    .pager .pagination li.page-item.disabled {
      .page-link {
        color: rgba(33,37,41,0.75);
        background-color: #adb5bd;
      }
    }

    .table-outer {
      /* border:1px solid #000; */
      /* max-width: 25%;
      max-width: 925px; */
      /* max-width: 57.8125rem; */
      /* overflow-x: scroll; */
    }
    .table{
      /* table-layout: fixed;  */
      /* margin:40px auto 0px auto; */
      /* margin: 0 auto; */
      /* width: 600px; */
      /* width: 1140px;
      max-width: 100%; */
    }
    .table, .table th, .table td{
      border-collapse:collapse; 
      border:1px solid #777;
    }
    .table th, .table td{
      padding: 1px !important;
      width: 100px;
      line-height: unset;
    }
    .table th{
      /* padding:20px 7px; 
      font-size:15px;  */
      color:#444; 
      background:#66C2E0;
      white-space: pre-wrap !important;
      vertical-align: middle !important;
      text-align: center;
    }
    .table td{
      vertical-align: top;
      text-align: center;
      white-space: pre-wrap !important;
    }
  </style>
</head>
<body>
	<div class="main-wrapper">

		<!-- partial:partials/_sidebar.html -->
    <%- include('./sidebar.ejs') %>
		<!-- partial -->
	
		<div class="page-wrapper">
					
			<!-- partial:partials/_navbar.html -->
      <%- include('./navbar.ejs') %>
			<!-- partial -->

			<div class="page-content">

        <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
          <div>
            <h4 class="mb-3 mb-md-0">Database Muatan UT Jakarta 2025</h4>
          </div>
          <div class="d-flex align-items-center flex-wrap text-nowrap">
            <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardDate">
              <span class="input-group-addon bg-transparent"><i data-feather="calendar" class=" text-primary"></i></span>
              <input type="text" class="form-control">
            </div>
            <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block">
              <i class="btn-icon-prepend" data-feather="download"></i>
              Import
            </button>
            <button type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0">
              <i class="btn-icon-prepend" data-feather="printer"></i>
              Print
            </button>
            <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
              <i class="btn-icon-prepend" data-feather="download-cloud"></i>
              Download Report
            </button>
          </div>
        </div>

        <div class="row" style="overflow-x:auto;">
          <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card overflow-hidden">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3" style="justify-content: end !important; margin: 0 !important;">
                  <!-- <h6 class="card-title mb-0">Revenue</h6> -->
                  <div class="dropdown">
                    <button class="btn p-0" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash" class="icon-sm mr-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer" class="icon-sm mr-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download" class="icon-sm mr-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                
                <div class="table-outer table-wrapper table-responsive">
                  <div class="table-scroll">
                    <table class="table inner table-hover mb-0" style="border-spacing: 0;">
                      <thead>
                        <% if (headerTable.length) { %>
                          <tr>
                            <% headerTable.forEach((header) => { %>
                              <th class="pt-0"><%= header %></th>
                            <% }) %>
                          </tr>
                        <% } %>
                      </thead>
                      <tbody>
          
                        <% if (contentTable.length) { 
                          contentTable.forEach((content) => { %>
                          <tr>
                            <% if (headerTable.length) {
                              headerTable.forEach((header) => {
                                %>
                              <td><%= content[header] %></td>
                              <% })
                            } %>
                          </tr>
                          <% 
                              })
                              } %>
                      </tbody>
                    </table>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
        </div> <!-- row -->

			</div>

			<!-- partial:partials/_footer.html -->
      <%- include('./footer.ejs') %>
			<!-- partial -->
		
		</div>
	</div>

	<!-- core:js -->
	<script src="./vendors/core/core.js"></script>
	<!-- endinject -->
  <!-- plugin js for this page -->
  <script src="./vendors/chartjs/Chart.min.js"></script>
  <script src="./vendors/jquery.flot/jquery.flot.js"></script>
  <script src="./vendors/jquery.flot/jquery.flot.resize.js"></script>
  <script src="./vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="./vendors/apexcharts/apexcharts.min.js"></script>
  <script src="./vendors/progressbar.js/progressbar.min.js"></script>
  <!-- <script src="./vendors/table-scroll-shadow/table-scroll-shadow.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://raw.github.com/sniku/jQuery-doubleScroll/master/jquery.doubleScroll.js"></script> -->
   <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<!-- end plugin js for this page -->
	<!-- inject:js -->
	<script src="./vendors/feather-icons/feather.min.js"></script>
	<script src="./js/template.js"></script>
	<!-- endinject -->
  <!-- custom js for this page -->
  <script src="./js/dashboard.js"></script>
  <script src="./js/datepicker.js"></script>
  <script src="./js/ejs.min.js"></script>
	<!-- end custom js for this page -->

  <script>
    (function () {
      // Define the constructor
      this.TableScrollShadow = function () {
        // Define option defaults
        let defaults = {
          wrapperClass: '.table-wrapper',
          scrollAreaClass: '.table-scroll',
          throttleDelay: 75
        }

        // Create options by extending defaults with the passed in arugments
        if (arguments[0] && typeof arguments[0] === 'object') {
          this.options = extendDefaults(defaults, arguments[0])
        } else {
          this.options = defaults
        }
      }

      // Public init method
      TableScrollShadow.prototype.init = function () {
        const tables = document.querySelectorAll(this.options.wrapperClass)

        // Handling of overflow and shadows
        const checkForOverflow = new ResizeObserver(
          throttle((entries) => {
            for (let entry of entries) {
              const tableWrapper = entry.target
              const scrollArea = tableWrapper.querySelector(this.options.scrollAreaClass)
              const table = tableWrapper.querySelector('table')
              let tableHasOverflow = false

              // console.log("tableWrapper = ", tableWrapper);
              // console.log("scrollArea = ", scrollArea);
              // console.log("table = ", table);

              // Override color css variable
              if (this.options.shadowColor) {
                tableWrapper.style.setProperty('--table-shadow-color', this.options.shadowColor)
              }

              // Override size css variable
              if (this.options.shadowSize) {
                tableWrapper.style.setProperty('--table-shadow-size', this.options.shadowSize)
              }

              // console.log("table clientWidth is = ", table.clientWidth);
              // console.log("scrollArea clientWidth is = ", scrollArea.clientWidth);

              if (table.clientWidth > scrollArea.clientWidth) {
                // Handle overflow
                tableHasOverflow = true
                tableWrapper.classList.add('has-overflow')
              } else {
                tableHasOverflow = false
                tableWrapper.classList.remove('has-overflow', 'has-shadow-left', 'has-shadow-right')
              }

              // Add horizontal shadows
              if (tableHasOverflow) {
                tableWrapper.classList.add('has-shadow-right')

                scrollArea.addEventListener('scroll', () => {
                  let scrollSize = table.clientWidth - scrollArea.clientWidth

                  // console.log("");

                  // console.log("start scroll");
                  // console.log("scrollArea scrollLeft is = ", scrollArea.scrollLeft);

                  // console.log("table clientWidth is = ", table.clientWidth);
                  // console.log("scrollArea clientWidth is = ", scrollArea.clientWidth);
                  // console.log("scrollSize is = ", scrollSize);

                  // console.log("end scroll");

                  // console.log("");

                  // if (scrollArea.scrollLeft <= 0) {
                  //   tableWrapper.classList.add('has-shadow-right')
                  //   tableWrapper.classList.remove('has-shadow-left')
                  // } else if (scrollArea.scrollLeft > 0 && scrollArea.scrollLeft !== scrollSize) {
                  //   tableWrapper.classList.add('has-shadow-right', 'has-shadow-left')
                  // } else if (scrollArea.scrollLeft >= scrollSize) {
                  //   tableWrapper.classList.remove('has-shadow-right')
                  //   tableWrapper.classList.add('has-shadow-left')
                  // }

                  if (scrollArea.scrollLeft > 0) {
                    tableWrapper.classList.add('has-shadow-left')
                  } else {
                    tableWrapper.classList.remove('has-shadow-left')
                  }
                  if (scrollArea.scrollLeft < scrollSize) {
                    tableWrapper.classList.add('has-shadow-right')
                  } else {
                    tableWrapper.classList.remove('has-shadow-right')
                  }
                })
              }
            }
          }, this.options.throttleDelay)
        )

        // Observe the tables present on the page
        tables.forEach((table) => {
          checkForOverflow.observe(table)
        })
      }

      // Utility method to extend defaults with options
      const extendDefaults = (source, properties) => {
        let property
        for (property in properties) {
          if (properties.hasOwnProperty(property)) {
            source[property] = properties[property]
          }
        }
        return source
      }

      // Utility to throttle callbacks
      const throttle = (callback, delay) => {
        let timer = 0
        return function (...args) {
          clearTimeout(timer)
          timer = setTimeout(() => callback.apply(this, args), delay)
        }
      }
    })()
  </script>
  
  <script>
    /*
 * @name DoubleScroll
 * @desc displays scroll bar on top and on the bottom of the div
 * @requires jQuery, jQueryUI
 *
 * @author Pawel Suwala - http://suwala.eu/
 * @version 0.3 (12-03-2014)
 *
 * Dual licensed under the MIT and GPL licenses:
 * http://www.opensource.org/licenses/mit-license.php
 * http://www.gnu.org/licenses/gpl.html
 */
 
(function($){
    $.widget("suwala.doubleScroll", {
		options: {
            contentElement: undefined, // Widest element, if not specified first child element will be used
			topScrollBarMarkup: '<div class="suwala-doubleScroll-scroll-wrapper" style="height: 20px; width: 100%;"><div class="suwala-doubleScroll-scroll" style="height: 20px;"></div></div>',
			topScrollBarInnerSelector: '.suwala-doubleScroll-scroll',			
			scrollCss: {                
				'overflow-x': 'scroll',
				'overflow-y':'hidden'
            },
			contentCss: {
				'overflow-x': 'scroll',
				'overflow-y':'hidden'
			}
        },		
        _create : function() {
            var self = this;
			      var contentElement;

            // add div that will act as an upper scroll
			      var topScrollBar = $($(self.options.topScrollBarMarkup));
            self.element.before(topScrollBar);

            // find the content element (should be the widest one)			
            if (self.options.contentElement !== undefined && self.element.find(self.options.contentElement).length !== 0) {
                contentElement = self.element.find(self.options.contentElement);
            }
            else {
                contentElement = self.element.find('>:first-child');
            }

            // bind upper scroll to bottom scroll
            topScrollBar.scroll(function(){
                self.element.scrollLeft(topScrollBar.scrollLeft());
            });
			
            // bind bottom scroll to upper scroll
            self.element.scroll(function(){
                topScrollBar.scrollLeft(self.element.scrollLeft());
            });

            // apply css
            topScrollBar.css(self.options.scrollCss);
            self.element.css(self.options.contentCss);

            console.log("suwala doubleScroll _create");
            console.log("contentElement scrollWidth is = ", contentElement[0].scrollWidth);
            console.log("self element clientWidth is = ", self.element[0].clientWidth);

            // set the width of the wrappers
            // $(self.options.topScrollBarInnerSelector, topScrollBar).width(contentElement[0].scrollWidth);
            // topScrollBar.width(self.element[0].clientWidth);

            $(self.options.topScrollBarInnerSelector, topScrollBar).width(contentElement[0].scrollWidth);
            topScrollBar.width("100%");
        },
        refresh: function(){
            // this should be called if the content of the inner element changed.
            // i.e. After AJAX data load
            var self = this;
			      var contentElement;
            var topScrollBar = self.element.parent().find('.suwala-doubleScroll-scroll-wrapper');

            // find the content element (should be the widest one)
            if (self.options.contentElement !== undefined && self.element.find(self.options.contentElement).length !== 0) {
                contentElement = self.element.find(self.options.contentElement);
            }
            else {
                contentElement = self.element.find('>:first-child');
            }

            // console.log("suwala doubleScroll refresh");
            // console.log("contentElement scrollWidth is = ", contentElement[0].scrollWidth);
            // console.log("self element clientWidth is = ", self.element[0].clientWidth);

            // set the width of the wrappers
            $(self.options.topScrollBarInnerSelector, topScrollBar).width(contentElement[0].scrollWidth);
            // topScrollBar.width(self.element[0].clientWidth);
            topScrollBar.width("100%");
        }
    });
})(jQuery);

  </script>
  

  <script>
    // console.log("session in dashboard = ", JSON.stringify(session, null, '\t'));

    var user = <%- JSON.stringify(user) %>;
    console.log("user in database = ", JSON.stringify(user, null, '\t'));

    var headerTable = <%- JSON.stringify(headerTable) %>;
    console.log("headerTable in database = ", JSON.stringify(headerTable, null, '\t'));
    
    var contentTable = <%- JSON.stringify(contentTable) %>;
    console.log("contentTable in database = ", JSON.stringify(contentTable, null, '\t'));


    console.log(Object.keys( contentTable[0]));

    document.addEventListener(
      'DOMContentLoaded',
      function () {
        const table = new TableScrollShadow({
          shadowColor: 'rgba(0, 0, 0, 0.25)',
          // throttleDelay: 100,
          // size: '2em',
          // wrapperClass: '.table-wrapper',
          // scrollAreaClass: '.table-scroll',
        })
        table.init()
      },
      false
    );

    $(function() {
      // $('.table-outer').doubleScroll();
      $('.table-scroll').doubleScroll();

      
    });
  </script>
</body>
</html>