<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, target-densitydpi=device-dpi" /><!-- this is for mobile (Android) Chrome -->
    <meta name="viewport" content="initial-scale=1.0, width=device-height"><!--  mobile Safari, FireFox, Opera Mobile  -->
    <script type="text/javascript" src="/vendors/jSignature/libs/modernizr.js"></script>
    <title>United Transindo Admin Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/images/icons/Logo United Transindo.ico">
    <!-- core:css -->
    <link rel="stylesheet" href="/vendors/core/core.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap Msg CSS -->
    <!-- <link rel="stylesheet" href="/css/bootstrap-msg.css"> -->
    <!-- Font Awesome 4 -->
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://select2.github.io/select2/select2-3.5.2/select2.css"> -->
    <link rel="stylesheet" href="/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link
      rel="stylesheet"
      href="/vendors/sweetalert2/sweetalert2.min.css"
    />
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="/fonts/feather-font/css/iconfont.css"
    />
    <link
      rel="stylesheet"
      href="/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/demo_1/style.css" />
    
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/vendors/jSignature/libs/flashcanvas.js"></script>
    <![endif]-->
    <style>
      .page-content {
      padding-bottom: 0 !important;
      display: grid;
    }
    .spinner-border {
      position: absolute;
      top: calc(50% + 30px);
      left: calc(50% + 120px);
    }
    /* #myList .list-group-item-action:focus {
      border: 1px solid rgba(0, 0, 0, 0.125);
      opacity: 0.5;
    } */
    .datepicker.datepicker-dropdown.dropdown-menu {
        z-index: 1000 !important;
      }
      .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        color: #999 !important;
      }
    #filter-form {
      & .form-group {
        align-items: center;

        & label {
          margin-bottom: 0;
        }
      }
      input, select {
            border-color: #000;
            border-radius: 4px;
            color : #495057;
        }
        input[type="text"] {
          border-width: 1px;
        }
        #filter-form-action {
          margin-top: 3rem;
          float: right;
        }
        input[type="button"] {
          color: #fff;
        }
        /* #clear {
          background: #ff3366;
        } */
         & select2-selection select2-selection--single {
          height: 35px !important;
         }
      & span.select2.select2-container {
        /* margin-left: 0.75rem; */

        & span.select2-selection.select2-selection--single {
          /* display: inline-grid;
          padding-right: 40px !important;
          border: 1px solid;
          border-radius: 4px; */
          height: 35px !important;

          & span.select2-selection__arrow {
            width: 100%;
            height: 100%;
            z-index: auto;

            & b {
              left: unset;
              right: 14px;
              margin-top: -6px;
            }
          }

          & .select2-selection__clear {
            /* margin-left: 30px; */
            left: -30px;
            z-index: 100;
          }
        }
      }
      
      /* & .select2-container--default .select2-selection--single .select2-selection__clear {
        margin-left: 30px;
      }
      & .select2-selection.select2-selection--single {
        display: inline-grid;
        padding-right: 40px !important;
      }
      & span.select2.select2-container {

        & span.select2-selection.select2-selection--single {

          & span.select2-selection__arrow {
            width: 100%;
            height: 100%;
            z-index: auto;

            & b {
              left: unset;
              right: 14px;
              margin-top: -6px;
            }
          }

          & .select2-selection__clear {
            margin-left: 30px;
            z-index: 100;
          }
        }
      }
      & span.select2.select2-container span.select2-selection.select2-selection--single {
        display: inline-grid;
        padding-right: 40px !important;
        border: 1px solid;
        border-radius: 4px;
      }
      & .my_select2_optgroup_selected {
          background-color: #ddd;
      }
      & .my_select2_optgroup_hovered {
          color: #FFF;
          background-color: #5897fb !important;
          cursor: pointer;
      }
      & strong.select2-results__group {
          padding: 0 !important;
      }
      & .my_select2_optgroup {
          display: block;
          padding: 6px;
      } */
    }
    .pager .pagination li.page-item.disabled {
      .page-link {
        color: rgba(33,37,41,0.75);
        background-color: #adb5bd;
      }
    }

    .table-outer {
      /* border:1px solid #000; */
      /* max-width: 25%;
      max-width: 925px; */
      /* max-width: 57.8125rem; */
      /* overflow-x: scroll; */
    }
    .table{
      /* table-layout: fixed;  */
      /* margin:40px auto 0px auto; */
      /* margin: 0 auto; */
      /* width: 600px; */
      /* width: 1140px;
      max-width: 100%; */
    }
    .table, .table th, .table td{
      border-collapse:collapse; 
      border:1px solid #777;
    }
    .table th, .table td{
      padding: 1px !important;
      width: 100px;
      line-height: unset;
    }
    .table th{
      /* padding:20px 7px; 
      font-size:15px;  */
      color:#444; 
      background:#66C2E0;
      white-space: pre-wrap !important;
      vertical-align: middle !important;
      text-align: center;
    }
    .table td{
      vertical-align: top;
      text-align: center;
      white-space: pre-wrap !important;
    }
    </style>
    <!-- End layout styles -->
    <link rel="icon" type="image/x-icon" href="./images/icons/Logo United Transindo.ico">
  </head>
  <body>
    <div class="main-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include('./sidebar.ejs') %>
      <!-- partial -->

      <div class="page-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('./navbar.ejs') %>
        <!-- partial -->

        <div class="page-content">
          <div class="alert-div" style="display: none;">
            <!-- <div class="alert alert-icon-danger" role="alert">
              <i data-feather="alert-triangle"></i>
              A simple danger alert—check it out!
            </div> -->
          </div>
          <!-- <div class="alert alert-icon-danger" role="alert">
            <i data-feather="alert-circle"></i>
            A simple danger alert—check it out!
          </div> -->

          <!-- <div class="alert alert-icon-danger alert-danger alert-dismissible fade show" role="alert" style="display: none;">
            <i data-feather="alert-circle"></i>
            <label></label>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
        
          <nav class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><%= user.role %></a></li>
              <li class="breadcrumb-item active" aria-current="page">
                History Job Order
              </li>
            </ol>
          </nav>

          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div id="filter-page">
            <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
              <div>
                <h4 class="mb-3 mb-md-0">History Job Order</h4>
              </div>
              <div class="d-flex align-items-center flex-wrap text-nowrap">
                <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardDate">
                  <span class="input-group-addon bg-transparent"><i data-feather="calendar" class=" text-primary"></i></span>
                  <input type="text" class="form-control">
                </div>
                <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block">
                  <i class="btn-icon-prepend" data-feather="download"></i>
                  Import
                </button>
                <button type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0">
                  <i class="btn-icon-prepend" data-feather="printer"></i>
                  Print
                </button>
                <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
                  <i class="btn-icon-prepend" data-feather="download-cloud"></i>
                  Download Report
                </button>
              </div>
            </div>
    
            <div class="row">
              <div class="col-12 col-xl-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form method="post" action="/history-job-order" id="filter-form" name="filter-form">
                        <div class="form-group form-row">
                          <label for="no_jo">No. Job Order</label> <span style="margin: 0 .75rem;">:</span>
                          <input type="text" name="no_jo" id="no_jo" class="" />
                        </div>
                        <div class="form-group form-row">
                          <label for="kota">Kota</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="kota" id="kota" class="kota">
                            <option value="00">Semua</option>
                            <option value="01">Sidoarjo</option>
                            <option value="02">Cikarang</option>
                            <option value="03">Jakarta</option>
                            <option value="04">Makassar</option>
                          </select>
                        </div>
                        <div class="form-group form-row">
                          <label for="nama_pengirim">Nama Pengirim</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="nama_pengirim" id="nama_pengirim" class="nama_pengirim w-100" data-width="100%"></select>
                        </div>
                        <div class="form-group form-row">
                          <label for="alamat_pengirim">Alamat Pengirim</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="alamat_pengirim" id="alamat_pengirim" class="alamat_pengirim form-control"></select>
                        </div>
                        <div class="form-group form-row">
                          <label for="kontak_pengirim">Kontak Pengirim</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="kontak_pengirim" id="kontak_pengirim" class="kontak_pengirim form-control"></select>
                        </div>
                        <!-- <br/> -->
                        <!-- <br/> -->
                        <div class="form-group form-row">
                          <label for="nama_penerima">Nama Penerima</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="nama_penerima" id="nama_penerima" class="form-control"></select>
                        </div>
                        <div class="form-group form-row">
                          <label for="alamat_penerima">Alamat Penerima</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="alamat_penerima" id="alamat_penerima" class="alamat_penerima form-control"></select>
                        </div>
                        <div class="form-group form-row">
                          <label for="kontak_penerima">Kontak Penerima</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="kontak_penerima" id="kontak_penerima" class="kontak_penerima form-control"></select>
                        </div>
                        <!-- <div class="form-group form-row">
                          <label for="hr_tgl_ambil">Hari / Tanggal Pengambilan</label> <span style="margin: 0 .75rem;">:</span>
                          <div class="hr_tgl_ambil input-group date datepicker">
                            <input type="text" id="hr_tgl_ambil" name="hr_tgl_ambil" class="form-control"><span class="input-group-addon"><i data-feather="calendar"></i></span>
                          </div>
                        </div> -->
                        <div class="form-group">
                          <label for="hr_tgl_ambil">Hari / Tanggal Pengambilan</label> <span style="margin: 0 .75rem;">:</span>
                          <br>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="hr_tgl_ambil-dari">Dari</label> <span style="margin: 0 .75rem;">:</span>
                            <div class="hr_tgl_ambil input-group date datepicker">
                              <input type="text" id="hr_tgl_ambil-dari" name="hr_tgl_ambil-dari" class="form-control"><span class="input-group-addon"><i data-feather="calendar"></i></span>
                            </div>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="hr_tgl_ambil-hingga">Hingga</label> <span style="margin: 0 .75rem;">:</span>
                            <div class="hr_tgl_ambil input-group date datepicker">
                              <input type="text" id="hr_tgl_ambil-hingga" name="hr_tgl_ambil-hingga" class="form-control"><span class="input-group-addon"><i data-feather="calendar"></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group form-row">
                          <label for="merk_unit">Merk Unit</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="merk_unit" id="merk_unit" class="merk_unit form-control"></select>
                        </div>
                        <div class="form-group form-row">
                          <label for="tipe_unit">Type Unit</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="tipe_unit" id="tipe_unit" class="tipe_unit form-control"></select>
                        </div>
                        <div class="form-group form-row">
                          <label for="nopol_noka_unit">Nopol / Noka Unit</label> <span style="margin: 0 .75rem;">:</span>
                          <!-- <select name="nopol_noka_unit" id="nopol_noka_unit" class="nopol_noka_unit form-control"></select> -->
                          <input type="text" name="nopol_noka_unit" id="nopol_noka_unit" class="" />
                        </div>
                        <div class="form-group form-row">
                          <label for="warna_unit">Warna Unit</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="warna_unit" id="warna_unit" class="warna_unit form-control"></select>
                        </div>
                        <!-- <div class="form-group form-row">
                          <label for="status_unit">Status Unit</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="status_unit" id="status_unit" class="status_unit">
                            <option value="profit">Profit</option>
                            <option value="second">Second</option>
                          </select>
                        </div> -->
                        <div class="form-group form-row">
                          <label for="status_unit">Status Unit</label> <span style="margin: 0 .75rem;">:</span>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="status_unit-profit" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="status_unit"
                                id="status_unit-profit"
                                value="profit"
                              />
                              Profit
                              <i class="input-frame"></i>
                            </label>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="status_unit-second" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="status_unit"
                                id="status_unit-second"
                                value="second"
                              />
                              Second
                              <i class="input-frame"></i>
                            </label>
                          </div>
                        </div>
                        <div class="form-group form-row">
                          <label for="kondisi_surat_unit">Kondisi Surat Unit</label> <span style="margin: 0 .75rem;">:</span>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="kondisi-ada" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="kondisi_surat_unit"
                                id="kondisi-ada"
                                value="ada"
                              />
                              Ada
                              <i class="input-frame"></i>
                            </label>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="kondisi-lainnya" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="kondisi_surat_unit"
                                id="kondisi-lainnya"
                                value="lainnya"
                              />
                              Lainnya
                              <i class="input-frame"></i>
                            </label>
                          </div>
                        </div>
                        <div class="form-group form-row">
                          <label for="nominal">Nominal</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="nominal" id="nominal" class="nominal">
                            <option value="nominal_range_0">Semua</option>
                            <option value="nominal_range_1">Rp0 - Rp50.000</option>
                            <option value="nominal_range_2">Rp50.000 - Rp200.000</option>
                            <option value="nominal_range_3">Rp200.000 - Rp500.000</option>
                            <option value="nominal_range_4">Rp500.000 - Rp1.000.000</option>
                            <option value="nominal_range_5">Rp1.000.000 - Rp5.000.000</option>
                            <option value="nominal_range_6">Rp5.000.000 - Rp10.000.000</option>
                            <option value="nominal_range_7">Rp10.000.000 - Rp25.000.000</option>
                            <option value="nominal_range_8">Rp25.000.000 - Rp50.000.000</option>
                            <option value="nominal_range_9">Rp50.000.000 - Rp100.000.000</option>
                            <option value="nominal_range_10">> Rp100.000.000</option>
                          </select>
                        </div>
                        <div class="form-group form-row">
                          <label for="moda">Moda</label> <span style="margin: 0 .75rem;">:</span>
                          <input type="text" name="moda" id="moda" class="" />
                        </div>
                        <div class="form-group form-row">
                          <label for="invoice">Invoice a.n.</label> <span style="margin: 0 .75rem;">:</span>
                          <input type="text" name="invoice" id="invoice" class="" />
                        </div>
                        <div class="form-group form-row">
                          <label for="transfer_by">Transfer By</label> <span style="margin: 0 .75rem;">:</span>
                          <input type="text" name="transfer_by" id="transfer_by" class="" />
                        </div>
                        <div class="form-group form-row">
                          <label for="tagihan">Tagihan</label> <span style="margin: 0 .75rem;">:</span>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="tagihan-jakarta" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="tagihan"
                                id="tagihan-jakarta"
                                value="jakarta"
                              />
                              Jakarta
                              <i class="input-frame"></i>
                            </label>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="tagihan-sidoarjo" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="tagihan"
                                id="tagihan-sidoarjo"
                                value="sidoarjo"
                              />
                              Sidoarjo
                              <i class="input-frame"></i>
                            </label>
                          </div>
                        </div>
                        <!-- <div class="form-group form-row">
                          <label for="top-tagihan">TOP Tagihan</label> <span style="margin: 0 .75rem;">:</span>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="top-tagihan-hari_kerja" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="top-tagihan"
                                id="top-tagihan-hari_kerja"
                                value="hari_kerja"
                              />
                              Hari Kerja
                              <i class="input-frame"></i>
                            </label>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="top-tagihan-kalender" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="top-tagihan"
                                id="top-tagihan-kalender"
                                value="kalender"
                              />
                              Kalender
                              <i class="input-frame"></i>
                            </label>
                          </div>
                        </div> -->
                        <div class="form-group form-row">
                          <label for="penawaran_kontrak">Penawaran / Kontrak</label> <span style="margin: 0 .75rem;">:</span>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="penawaran_kontrak-penawaran" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="penawaran_kontrak"
                                id="penawaran_kontrak-penawaran"
                                value="penawaran"
                              />
                              Surat Penawaran
                              <i class="input-frame"></i>
                            </label>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                              margin-right: 0.75rem;
                            ">
                            <label for="penawaran_kontrak-kontrak" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="penawaran_kontrak"
                                id="penawaran_kontrak-kontrak"
                                value="kontrak"
                              />
                              Kontrak
                              <i class="input-frame"></i>
                            </label>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="penawaran_kontrak-ban" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="penawaran_kontrak"
                                id="penawaran_kontrak-ban"
                                value="ban"
                              />
                              BAN (Berita Acara Negosiasi)
                              <i class="input-frame"></i>
                            </label>
                          </div>
                        </div>
                        <div class="form-group form-row">
                          <label for="handling">Handling</label> <span style="margin: 0 .75rem;">:</span>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="handling-ada" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="handling"
                                id="handling-ada"
                                value="ada"
                              />
                              Ada
                              <i class="input-frame"></i>
                            </label>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="handling-tidak_ada" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="handling"
                                id="handling-tidak_ada"
                                value="tidak_ada"
                              />
                              Tidak Ada
                              <i class="input-frame"></i>
                            </label>
                          </div>
                        </div>
                        <div class="form-group form-row">
                          <label for="asuransi">Asuransi</label> <span style="margin: 0 .75rem;">:</span>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="asuransi-ada" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="asuransi"
                                id="asuransi-ada"
                                value="ada"
                              />
                              Ada
                              <i class="input-frame"></i>
                            </label>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="asuransi-tidak_ada" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="asuransi"
                                id="asuransi-tidak_ada"
                                value="tidak_ada"
                              />
                              Tidak Ada
                              <i class="input-frame"></i>
                            </label>
                          </div>
                        </div>
                        <div class="form-group form-row">
                          <label for="biaya_koordinasi">Biaya Koordinasi / Kawal</label> <span style="margin: 0 .75rem;">:</span>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="biaya_koordinasi-ada" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="biaya_koordinasi"
                                id="biaya_koordinasi-ada"
                                value="ada"
                              />
                              Ada
                              <i class="input-frame"></i>
                            </label>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="biaya_koordinasi-tidak_ada" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="biaya_koordinasi"
                                id="biaya_koordinasi-tidak_ada"
                                value="tidak_ada"
                              />
                              Tidak Ada
                              <i class="input-frame"></i>
                            </label>
                          </div>
                        </div>
                        <div class="form-group form-row">
                          <label for="note">Note</label> <span style="margin: 0 .75rem;">:</span>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="note-ada" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="note"
                                id="note-ada"
                                value="ada"
                              />
                              Ada
                              <i class="input-frame"></i>
                            </label>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="note-tidak_ada" class="form-check-label">
                              <input
                                type="radio"
                                class="form-check-input"
                                name="note"
                                id="note-tidak_ada"
                                value="tidak_ada"
                              />
                              Tidak Ada
                              <i class="input-frame"></i>
                            </label>
                          </div>
                        </div>
                        <div class="form-group form-row">
                          <label for="dibuat_oleh">Dibuat Oleh</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="dibuat_oleh" id="dibuat_oleh" class="form-control"></select>
                        </div>
                        <div class="form-group">
                          <label for="tgl_jm_dibuat">Tanggal Jam Dibuat</label> <span style="margin: 0 .75rem;">:</span>
                          <br>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="tgl_jm_dibuat-dari">Dari</label> <span style="margin: 0 .75rem;">:</span>
                            <div class="tgl_jm_dibuat input-group date datepicker">
                              <input type="text" id="tgl_jm_dibuat-dari" name="tgl_jm_dibuat-dari" class="form-control"><span class="input-group-addon"><i data-feather="calendar"></i></span>
                            </div>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="tgl_jm_dibuat-hingga">Hingga</label> <span style="margin: 0 .75rem;">:</span>
                            <div class="tgl_jm_dibuat input-group date datepicker">
                              <input type="text" id="tgl_jm_dibuat-hingga" name="tgl_jm_dibuat-hingga" class="form-control"><span class="input-group-addon"><i data-feather="calendar"></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group form-row">
                          <label for="disetujui_oleh">Disetujui Oleh</label> <span style="margin: 0 .75rem;">:</span>
                          <select name="disetujui_oleh" id="disetujui_oleh" class="form-control"></select>
                        </div>
                        <div class="form-group">
                          <label for="tgl_jm_disetujui">Tanggal Jam Disetujui</label> <span style="margin: 0 .75rem;">:</span>
                          <br>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-right: 0.75rem;
                            ">
                            <label for="tgl_jm_disetujui-dari">Dari</label> <span style="margin: 0 .75rem;">:</span>
                            <div class="tgl_jm_disetujui input-group date datepicker">
                              <input type="text" id="tgl_jm_disetujui-dari" name="tgl_jm_disetujui-dari" class="form-control"><span class="input-group-addon"><i data-feather="calendar"></i></span>
                            </div>
                          </div>
                          <div class="form-check form-check-inline" 
                            style="
                              margin: 0;
                              margin-left: 0.75rem;
                            ">
                            <label for="tgl_jm_disetujui-hingga">Hingga</label> <span style="margin: 0 .75rem;">:</span>
                            <div class="tgl_jm_disetujui input-group date datepicker">
                              <input type="text" id="tgl_jm_disetujui-hingga" name="tgl_jm_disetujui-hingga" class="form-control"><span class="input-group-addon"><i data-feather="calendar"></i></span>
                            </div>
                          </div>
                        </div>
                        <div id="filter-form-action">
                          <input id="generate" class="btn btn-primary" type="button" value="Generate">
                          <input id="clear" class="btn btn-danger" type="button" value="Clear Filter">
                        </div>
    
                      <!-- </div> -->
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-xl-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body" id="filter-page-result" style="display: none;">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>

                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- partial:partials/_footer.html -->
        <%- include('./footer.ejs') %>
        <!-- partial -->
      </div>
    </div>

    <!-- core:js -->
    <script src="/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- jQuery -->
    <script src="/vendors/jSignature/libs/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="/vendors/jquery.autosize.input/jquery.autosize.input.js"></script>
    <!-- Bootstrap JS -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <!-- Bootsrap Msg Js -->
    <!-- <script src="/js/bootstrap-msg.js"></script> -->
    <script src="/vendors/chartjs/Chart.min.js"></script>
    <script src="/vendors/jquery.flot/jquery.flot.js"></script>
    <script src="/vendors/jquery.flot/jquery.flot.resize.js"></script>
    <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- <script src="https://github.com/jquery/jquery-ui/blob/main/ui/i18n/datepicker-id.js" type='text/javascript'></script> -->
    <script src="/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="/vendors/progressbar.js/progressbar.min.js"></script>
    <!-- <script src="https://select2.github.io/select2/select2-3.5.2/select2.js"></script> -->
    <script src="/vendors/select2/select2.min.js"></script>
    <script src="/vendors/sweetalert2/sweetalert2.min.js"></script>
    <script src="/vendors/promise-polyfill/polyfill.min.js"></script>
    <!-- Optional:  polyfill for ES6 Promises for IE11 and Android browser -->
    <script src="/vendors/moment/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/id.min.js" integrity="sha512-he8U4ic6kf3kustvJfiERUpojM8barHoz0WYpAUDWQVn61efpm3aVAD8RWL8OloaDDzMZ1gZiubF9OSdYBqHfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js"></script>
    <script src="/vendors/inputmask/jquery.inputmask.min.js"></script>
    <script src="/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script src="/vendors/jSignature/src/jSignature.js"></script>
    <script src="/vendors/jSignature/src/plugins/jSignature.CompressorBase30.js"></script>
    <script src="/vendors/jSignature/src/plugins/jSignature.CompressorSVG.js"></script>
    <script src="/vendors/jSignature/src/plugins/jSignature.UndoButton.js"></script> 
    <script src="/vendors/jSignature/src/plugins/signhere/jSignature.SignHere.js"></script> 
    <script src="https://willowsystems.github.io/jSignature/js/libs/jSignature.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="/vendors/feather-icons/feather.min.js"></script>
    <script src="/js/template.js"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="/js/dashboard.js"></script>
    <!-- <script src="/js/datepicker-id.js" charset="UTF-8"></script> -->
    <!-- <script src="/js/datepicker.js"></script> -->
    <!-- <script src="/js/timepicker.js"></script> -->
    <!-- end custom js for this page -->

    <script>
        $(document).ready(function() {
          var user = <%- JSON.stringify(user) %>;
			    console.log("user in history job order = ", JSON.stringify(user, null, '\t'));

          var headerTable = <%- JSON.stringify(headerTable) %>;
          console.log("headerTable in history job order = ", JSON.stringify(headerTable, null, '\t'));
          
          var contentTable = <%- JSON.stringify(contentTable) %>;
          console.log("contentTable in history job order = ", JSON.stringify(contentTable, null, '\t'));
          
          
          // var timeInterval = null;
          // var timeInterval = 
          //   setInterval(function() {
          //     // $("#signature-made-by span").text(moment().format('DD-MMM-YYYY HH:mm'));
          //     $("#signature-made-by span").html(`${moment().format('DD-MMM-YYYY')}<br/>${moment().format('HH:mm')}`);
          //   }, 1000);

          var date = new Date(),
              today = new Date(date.getFullYear(), date.getMonth(), date.getDate()),
              // city,
              city_code,
              // database,
              // list_nama_pengirim,
              // list_alamat_pengirim,
              // list_kontak_pengirim,
              // list_nama_penerima,
              // list_alamat_penerima,
              // list_kontak_penerima,
              // list_merk_unit,
              // list_tipe_unit,
              // // list_nopol_noka_unit,
              // list_warna_unit,
              rowIndex
          ;

          // console.log("contentTable in job order = ", JSON.stringify(database, null, '\t'));


          var list_nama_pengirim = <%- JSON.stringify(listNamaPengirim) %>;
          // console.log("list_nama_pengirim in job order = ", JSON.stringify(list_nama_pengirim, null, '\t'));
          
          var list_alamat_pengirim = <%- JSON.stringify(listAlamatPengirim) %>;
          // console.log("list_alamat_pengirim in job order = ", JSON.stringify(list_alamat_pengirim, null, '\t'));

          var list_kontak_pengirim = <%- JSON.stringify(listKontakPengirim) %>;
          // console.log("list_kontak_pengirim in job order = ", JSON.stringify(list_kontak_pengirim, null, '\t'));

          var list_nama_penerima = <%- JSON.stringify(listNamaPenerima) %>;
          // console.log("list_nama_penerima in job order = ", JSON.stringify(list_nama_penerima, null, '\t'));

          var list_alamat_penerima = <%- JSON.stringify(listAlamatPenerima) %>;
          // console.log("list_alamat_penerima in job order = ", JSON.stringify(list_alamat_penerima, null, '\t'));

          var list_kontak_penerima = <%- JSON.stringify(listKontakPenerima) %>;
          // console.log("list_kontak_penerima in job order = ", JSON.stringify(list_kontak_penerima, null, '\t'));

          var list_merk_unit = <%- JSON.stringify(listMerkUnit) %>;
          // console.log("list_merk_unit in job order = ", JSON.stringify(list_merk_unit, null, '\t'));

          var list_tipe_unit = <%- JSON.stringify(listTipeUnit) %>;
          // console.log("list_tipe_unit in job order = ", JSON.stringify(list_tipe_unit, null, '\t'));

          var list_warna_unit = <%- JSON.stringify(listWarnaUnit) %>;
          // console.log("list_warna_unit in job order = ", JSON.stringify(list_warna_unit, null, '\t'));

          var list_created_by = <%- JSON.stringify(listCreatedBy) %>;
          console.log("list_created_by in job order = ", JSON.stringify(list_created_by, null, '\t'));

          var list_approved_by = <%- JSON.stringify(listApprovedBy) %>;
          console.log("list_approved_by in job order = ", JSON.stringify(list_approved_by, null, '\t'));
		

          // var list_kondisi = [{index: 1, value: ""}];
          // var list_lainnya = [{index: 1, value: ""}];
          var list_kondisi = [];
          var list_lainnya = [];

          var shortMonths = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
          var phoneExp = /(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?/img;

          $.fn.datepicker.dates['id'] = {
            days: ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"],
            daysShort: ["Min", "Sen", "Sel", "Rab", "Kam", "Jum", "Sab"],
            daysMin: ["Mg", "Sn", "Sl", "Rb", "Km", "Jm", "Sb"],
            months: ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"],
            monthsShort: ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Ags", "Sep", "Okt", "Nov", "Des"],
            today: "Hari ini",
            clear: "Clear",
            format: "dd MM yy",
            titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
            weekStart: 0
          };

          // if (user.role === "Operational") {
          //   $("#nominal-row").hide();
          //   $("#invoice-row").hide();
          //   $("#detail-pembayaran-1").hide();
          // } else {
          //   $("#nominal-row").show();
          //   $("#invoice-row").show();
          //   $("#detail-pembayaran-1").show();
          // }

          if (user.location === "Sidoarjo") {
            city_code = "01";
          } else if (user.location === "Cikarang") {
            city_code = "02";
          } else if (user.location === "Jakarta") {
            city_code = "03";
          } else if (user.location === "Makassar") {
            city_code = "04";
          }

          // $('#hr_tgl_ambil').datepicker('option', 'onSelect', function(dateText, inst) { 
          //     alert( $(this).datepicker('getDate'))
          //     alert( dateText)
          //       alert( inst)
          //    });

          const loadData = async () => {
            list_nama_pengirim.forEach(nama_pengirim => {
                $(`#nama_pengirim`).append(`<option value="${nama_pengirim}">${nama_pengirim}</option>`);
            });

            $(`#nama_pengirim`).val(null);

            $(`#nama_pengirim`).select2({
                placeholder: "PILIH SALAH SATU",
                allowClear: true,
                // width: "style",
                closeOnSelect: true,
            }).on("change", function(event) {
              console.log("on change this value nama pengirim = ", this.value);

              $(this).trigger('blur');
            }).on("blur", function(event) {
              console.log("on blur this value nama pengirim = ", this.value);
            }).on("select2:unselecting", function(e) {
              console.log("select2 unselecting");
              console.log("select unselecting value nama pengirim = ", this.value);

              // $(`#alamat_pengirim`).val(null).trigger('change');
              // $(`#alamat_pengirim`).parent().removeClass('has-danger');
              // $(`#alamat_pengirim`).removeClass('form-control-danger');
              // $(`#alamat_pengirim-error`).remove();

              // $(`#kontak_pengirim`).val(null).trigger('change');
              // $(`#kontak_pengirim`).parent().removeClass('has-danger');
              // $(`#kontak_pengirim`).removeClass('form-control-danger');
              // $(`#kontak_pengirim-error`).remove();
              
              $(this).on("select2:opening", function (evt) {
                evt.preventDefault();
                $(this).off("select2:opening");
              });
            }).on("select2:select", function(e) {
              console.log("select2 select");
              console.log("select input value nama pengirim = ", this.value);

              // if (list_nama_pengirim.findIndex(nama_pengirim => String(this.value).toLowerCase() === String(nama_pengirim).toLowerCase()) === -1) {
              //   console.log(this.value, "added to dataset");
              //   new_list_nama_pengirim.push(this.value);
              //   list_nama_pengirim.push(this.value);
              //   $(this).append(new Option(this.value, this.value, true, true));
              // }
            });

            list_alamat_pengirim.forEach(alamat_pengirim => {
              $(`#alamat_pengirim`).append(`<option value="${alamat_pengirim}">${alamat_pengirim}</option>`);
            });

            $(`#alamat_pengirim`).val(null);

            $(`#alamat_pengirim`).select2({
              placeholder: "PILIH SALAH SATU",
                allowClear: true,
                closeOnSelect: true,
            });

            list_kontak_pengirim.forEach(kontak_pengirim => {
              $(`#kontak_pengirim`).append(`<option value="${kontak_pengirim}">${kontak_pengirim}</option>`);
            });

            $(`#kontak_pengirim`).val(null);

            $(`#kontak_pengirim`).select2({
              placeholder: "PILIH SALAH SATU",
                allowClear: true,
                closeOnSelect: true,
            });

            list_nama_penerima.forEach(nama_penerima => {
              $(`#nama_penerima`).append(`<option value="${nama_penerima}">${nama_penerima}</option>`);
            });

            $(`#nama_penerima`).val(null);

            $(`#nama_penerima`).select2({
              placeholder: "PILIH SALAH SATU",
                allowClear: true,
                closeOnSelect: true,
            });

            list_alamat_penerima.forEach(alamat_penerima => {
              $(`#alamat_penerima`).append(`<option value="${alamat_penerima}">${alamat_penerima}</option>`);
            });

            $(`#alamat_penerima`).val(null);

            $(`#alamat_penerima`).select2({
              placeholder: "PILIH SALAH SATU",
                allowClear: true,
                closeOnSelect: true,
            });

            list_kontak_penerima.forEach(kontak_penerima => {
              $(`#kontak_penerima`).append(`<option value="${kontak_penerima}">${kontak_penerima}</option>`);
            });

            $(`#kontak_penerima`).val(null);

            $(`#kontak_penerima`).select2({
              placeholder: "PILIH SALAH SATU",
                allowClear: true,
                closeOnSelect: true,
            });

            $(`#hr_tgl_ambil-dari, 
              #hr_tgl_ambil-hingga, 
              #tgl_jm_dibuat-dari, 
              #tgl_jm_dibuat-hingga,
              #tgl_jm_disetujui-dari, 
              #tgl_jm_disetujui-hingga`).datepicker({
              format: "DD / dd MM yyyy",
              language: "id",
              autoclose: true,
              clearBtn: true,
            });

            $('#hr_tgl_ambil-dari').datepicker()
              .on("clearDate", function(e) {
                  // console.log("hr_tgl_ambil-dari is cleared yey");
                  $("#hr_tgl_ambil-hingga").val("").datepicker("update");
              })
              .on("changeDate", function (e) {
                  // console.log($(this).datepicker('getDate'))
                  // console.log(new Date());
                  // console.log("less 1 = ",$(this).datepicker('getDate') > new Date());
                  // console.log("equal 1 = ",$(this).datepicker('getDate') == new Date());
                  // console.log("more 1 = ",$(this).datepicker('getDate') < new Date());
                  // console.log(Date.parse($(this).datepicker("getDate")))
                  // console.log(Date.parse(new Date()))
                  // console.log($("#hr_tgl_ambil-hingga").datepicker("getDate"));
                  // console.log(Date.parse($("#hr_tgl_ambil-hingga").datepicker("getDate")));
                  // console.log("less 2 = ",Date.parse($(this).datepicker("getDate")) >Date.parse(new Date()));
                  // console.log("equal 2 = ",Date.parse($(this).datepicker("getDate")) >=Date.parse(new Date()));
                  // console.log("more 2 = ",Date.parse($(this).datepicker("getDate")) <Date.parse(new Date()));
                  
                  $("#hr_tgl_ambil-hingga").datepicker('setStartDate', $(this).datepicker('getDate'));

                  if (!$("#hr_tgl_ambil-hingga").datepicker("getDate") || Date.parse($(this).datepicker("getDate")) > Date.parse($("#hr_tgl_ambil-hingga").datepicker("getDate"))) {
                    $("#hr_tgl_ambil-hingga").datepicker('setDate', $(this).datepicker('getDate'));
                  }
              });

            $('#tgl_jm_dibuat-dari').datepicker()
              .on("clearDate", function(e) {
                  $("#tgl_jm_dibuat-hingga").val("").datepicker("update");
              })
              .on("changeDate", function (e) {
                  $("#tgl_jm_dibuat-hingga").datepicker('setStartDate', $(this).datepicker('getDate'));

                  if (!$("#tgl_jm_dibuat-hingga").datepicker("getDate") || Date.parse($(this).datepicker("getDate")) > Date.parse($("#tgl_jm_dibuat-hingga").datepicker("getDate"))) {
                    $("#tgl_jm_dibuat-hingga").datepicker('setDate', $(this).datepicker('getDate'));
                  }
              });

            $('#tgl_jm_disetujui-dari').datepicker()
              .on("clearDate", function(e) {
                  $("#tgl_jm_disetujui-hingga").val("").datepicker("update");
              })
              .on("changeDate", function (e) {
                  $("#tgl_jm_disetujui-hingga").datepicker('setStartDate', $(this).datepicker('getDate'));

                  if (!$("#tgl_jm_disetujui-hingga").datepicker("getDate") || Date.parse($(this).datepicker("getDate")) > Date.parse($("#tgl_jm_disetujui-hingga").datepicker("getDate"))) {
                    $("#tgl_jm_disetujui-hingga").datepicker('setDate', $(this).datepicker('getDate'));
                  }
              });

//             .on("changeDate", function (e) {
//               alert( $(this).datepicker('getDate'))
// });

            // $(`#hr_tgl_ambil`).datepicker({
            //   onSelect: function(dateText, inst) {
            //     alert( $(this).datepicker('getDate'))
            //     alert( dateText)
            //     alert( inst)
            //   }
            // });

            // $('#hr_tgl_ambil').on("change", function(e) {
            //   alert( $(this).datepicker('getDate'))
            // });

            // $('#hr_tgl_ambil').datepicker('option', 'onSelect', function(dateText, inst) { 
            //   alert( $(this).datepicker('getDate'))
            //   alert( dateText)
            //     alert( inst)
            //  });

            // console.log($.datepicker.formatDate('DD / dd MM yyyy',  $("#hr_tgl_ambil").datepicker('getDate')));
            $(`#hr_tgl_ambil-dari, 
              #hr_tgl_ambil-hingga, 
              #tgl_jm_dibuat-dari, 
              #tgl_jm_dibuat-hingga,
              #tgl_jm_disetujui-dari, 
              #tgl_jm_disetujui-hingga`).datepicker('setDate', "");

            // console.log($('#hr_tgl_ambil').val());

            list_merk_unit.forEach(merk_unit => {
              $(`#merk_unit`).append(`<option value="${merk_unit}">${merk_unit}</option>`);
            });

            $(`#merk_unit`).val(null);

            $(`#merk_unit`).select2({
              placeholder: "PILIH SALAH SATU",
                allowClear: true,
                closeOnSelect: true,
            });

            list_tipe_unit.forEach(tipe_unit => {
              $(`#tipe_unit`).append(`<option value="${tipe_unit}">${tipe_unit}</option>`);
            });

            $(`#tipe_unit`).val(null);

            $(`#tipe_unit`).select2({
              placeholder: "PILIH SALAH SATU",
                allowClear: true,
                closeOnSelect: true,
            });

            list_warna_unit.forEach(warna_unit => {
              $(`#warna_unit`).append(`<option value="${warna_unit}">${warna_unit}</option>`);
            });

            $(`#warna_unit`).val(null);

            $(`#warna_unit`).select2({
              placeholder: "PILIH SALAH SATU",
                allowClear: true,
                closeOnSelect: true,
            });

            list_created_by.forEach(created_by => {
              $(`#dibuat_oleh`).append(`<option value="${created_by.username}">${created_by.username}</option>`);
            });

            $(`#dibuat_oleh`).val(null);

            $(`#dibuat_oleh`).select2({
              placeholder: "PILIH SALAH SATU",
                allowClear: true,
                closeOnSelect: true,
            });

            list_approved_by.forEach(approved_by => {
              $(`#disetujui_oleh`).append(`<option value="${approved_by.username}">${approved_by.username}</option>`);
            });

            $(`#disetujui_oleh`).val(null);

            $(`#disetujui_oleh`).select2({
              placeholder: "PILIH SALAH SATU",
                allowClear: true,
                closeOnSelect: true,
            });

            // $("input:radio[name='tagihan']").on("click", function() {
            //   console.log("tagihan value = ", $(this).val());
            //   $("#tagihan_top").removeAttr("disabled");
            // });

            // $("input:radio[name='tagihan']").on("click", function() {
            //   console.log("tagihan value = ", $(this).val());
            //   $("#tagihan_top").removeAttr("disabled");
            // });

            // $("input:radio[name='asuransi']").on("click", function() {
            //   console.log("asuransi value = ", $(this).val());
            //   if ($(this).val() === "ada") {
            //     $("#perincian_asuransi").removeAttr("disabled");
            //   } else {
            //     $("#perincian_asuransi").val("");
            //     $("#perincian_asuransi").attr("disabled", "disabled");
            //   }
            // });

            // $("input:radio[name='biaya_koord']").on("click", function() {
            //   console.log("biaya_koord value = ", $(this).val());
            //   if ($(this).val() === "ada") {
            //     $("#keterangan_biaya_koord").removeAttr("disabled");
            //   } else {
            //     $("#keterangan_biaya_koord").val("");
            //     $("#keterangan_biaya_koord").attr("disabled", "disabled");
            //   }
            // });

            // $("input:radio[name='penawaran_kontrak']").on("click", function() {
            //   console.log("penawaran_kontrak value = ", $(this).val());
            //   if ($(this).val() === "ada") {
            //     $(this).parents("div.form-group.form-row").css("height", "unset");
            //     $('input:radio[name="opsi_penawaran_kontrak"][value="surat_penawaran"]').prop('checked', true);
            //     $("#no_opsi_penawaran_kontrak").val("");
            //     $("div#opsi_penawaran_kontrak").show();
            //     $("div#opsi_penawaran_kontrak").css({
            //       display: "grid",
            //       gap: "0.5rem",
            //       margin: 0,
            //       marginLeft: "1rem",
            //       // marginTop: "0.5rem",
            //     });
            //   } else {
            //     $(this).parents("div.form-group.form-row").css("height", "2.1875rem");
            //     $("div#opsi_penawaran_kontrak").hide();
            //     $("div#opsi_penawaran_kontrak").css({
            //       display: "none",
            //     });
            //   }
            // });

            // $("input:radio[name='handling']").on("click", function() {
            //   console.log("handling value = ", $(this).val());
            //   // $("#tagihan_top").removeAttr("disabled");
            //   if ($(this).val() === "ada") {
            //     $(this).parents("div.form-group.form-row").css("height", "unset");
            //     $("#nominal_handling").val("");
            //     $("#nama_penerima_handling").val("");
            //     $("#form_handling").show();
            //     $("#form_handling").css({
            //       display: "grid",
            //       gap: "0.5rem",
            //       margin: 0,
            //       marginLeft: "1rem",
            //       // marginTop: "0.5rem",
            //     });
            //   } else {
            //     $("#form_handling").hide();
            //   }
            // });
          };

          loadData();

          $(".spinner-border").hide();

          $("#filter-page").show();

          $("#clear").on("click", function() {
            $("#no_jo").val("")
            $("#nopol_noka_unit").val("")
            $("#moda").val("")
            $("#invoice").val("")
            $("#transfer_by").val("")
            $(`#hr_tgl_ambil-dari, 
              #hr_tgl_ambil-hingga, 
              #tgl_jm_dibuat-dari, 
              #tgl_jm_dibuat-hingga,
              #tgl_jm_disetujui-dari, 
              #tgl_jm_disetujui-hingga`).datepicker('setDate', "");
            $(`#nama_pengirim`).select2("val", "");
            $(`#alamat_pengirim`).select2("val", "");
            $(`#kontak_pengirim`).val(null);
            $(`#nama_penerima`).val(null);
            $(`#alamat_penerima`).val(null);
            $(`#kontak_penerima`).val(null);
            $(`#merk_unit`).val(null);
            $(`#tipe_unit`).val(null);
            $(`#warna_unit`).val(null);
            $(`#dibuat_oleh`).val(null);
            $(`#disetujui_oleh`).val(null);
            $("#kota").val("00").change();
            $("#nominal").val("nominal_range_0").change();
            $('input[name="status_unit"]').prop('checked', false);
            $('input[name="kondisi_surat_unit"]').prop('checked', false);
            $('input[name="tagihan"]').prop('checked', false);
            $('input[name="penawaran_kontrak"]').prop('checked', false);
            $('input[name="handling"]').prop('checked', false);
            $('input[name="asuransi"]').prop('checked', false);
            $('input[name="biaya_koordinasi"]').prop('checked', false);
            $('input[name="note"]').prop('checked', false);
          });

          $("#generate").on("click", async function(e) {
            e.preventDefault();
            $("#filter-page-result").show();

            const form = document.forms.namedItem("filter-form");
            const formData = new FormData(form);
            console.log("formData is = ", formData);

            let filterParam = {};
            // List key/value pairs
            for (let [name, value] of formData) {
                console.log("List key/value pairs in formData");
                console.log(`${name} = ${value}`);

                // filterParam.name = value;
                // filterParam[name] = value;
                console.log(typeof name);
                console.log(typeof value);
              if (
                name == "hr_tgl_ambil-dari" || 
                name == "hr_tgl_ambil-hingga" || 
                name == "tgl_jm_dibuat-dari" || 
                name == "tgl_jm_dibuat-hingga" || 
                name == "tgl_jm_disetujui-dari" || 
                name == "tgl_jm_disetujui-hingga" 
              ) {
                console.log(value);
                console.log($("#"+name).datepicker("getDate"));
                filterParam[name] = $("#"+name).datepicker("getDate");
              } else filterParam[name] = value;
            }



            try {
                const response = await fetch("/history-job-order", {
                  method: "POST",
                  body: JSON.stringify(filterParam),
                  // body: formData,
                  // body: JSON.stringify(formData),
                  // body: jso
                  // body: JSON.parse({formData}),
                  // body: JSON.stringify({ 
                  //   no_jo,
                  //   kota,
                  //   tgl_wkt_dibuat: new Date(),
                  //   nama_pengirim,
                  //   alamat_pengirim,
                  //   kontak_pengirim,
                  //   nama_penerima,
                  //   alamat_penerima,
                  //   kontak_penerima,
                  //   hr_tgl_ambil,
                  //   qty,
                  //   merk,
                  //   tipe,
                  //   nopol_noka,
                  //   warna,
                  //   status,
                  //   kondisi,
                  //   lainnya,
                  //   new_list_nama_pengirim,
                  //   new_list_alamat_pengirim,
                  //   new_list_kontak_pengirim,
                  //   new_list_nama_penerima,
                  //   new_list_alamat_penerima,
                  //   new_list_kontak_penerima,
                  //   new_list_merk_unit,
                  //   new_list_tipe_unit,
                  //   new_list_warna_unit,
                  //   nominal,
                  //   moda,
                  //   invoice,
                  //   transfer_by,
                  //   tagihan,
                  //   tagihan_top,
                  //   opsi_tagihan_top,
                  //   penawaran_kontrak,
                  //   opsi_penawaran_kontrak,
                  //   no_opsi_penawaran_kontrak,
                  //   handling,
                  //   nominal_handling,
                  //   nama_penerima_handling,
                  //   asuransi,
                  //   perincian_asuransi,
                  //   biaya_koord,
                  //   keterangan_biaya_koord,
                  //   note,
                  //   dibuat_oleh: user.username,
                  //   ttd_dibuat_oleh,
                  //  }),

                  headers: {'Content-Type': 'application/json', "Accept":"text/html"},
                  credentials: 'same-origin',
                });
                console.log("response of filterDataJO = ", response);

                console.log("response body is = ", response.body);

                if (response.status == 200 || response.ok) {
                  var tableFilterResult = "";
                  const loadResultTable = async () => {
                    tableFilterResult+= `<button id="tableToExcel">Convert To Excel</button>
                <button id="tableToCSV">Convert To CSV</button>
                
                
                <div class="table-outer table-wrapper table-responsive">
                  <div class="table-scroll">
                    <table class="table inner table-hover mb-0" style="border-spacing: 0;" data-excel-name="Data Job Order">
                      <thead><tr>`;
                        headerTable.forEach((header) => {
                          tableFilterResult+=`<th class="pt-0">${header}</th>`
                        });
                        tableFilterResult+=`</tr>
                      </thead>
                      <tbody><tr>`
                        contentTable.forEach((content) => {
                          tableFilterResult+=`<td class="pt-0">${content[header]}</td>`
                        });
                        tableFilterResult+=`</tr>
                      </tbody>
                    </table>
                  </div>
                </div>`
                $("#filter-page-result").append(tableFilterResult)
                
                  }

                }

                await loadResultTable();
                
                $("#filter-page-result .spinner-border").hide();

                $("#filter-page-result").show();

              } catch (err) {
                console.error(err)
              }
            

            // $("#filter-page-result .spinner-border").hide();
          });

          // function render(templateId, data) {
          //   // Get the template content
          //   var template = document.getElementById(templateId).innerHTML;

          //   // Replace placeholders in the template with actual data
          //   for (var key in data) {
          //       var regex = new RegExp('{{\\s*' + key + '\\s*}}', 'g');
          //       template = template.replace(regex, data[key]);
          //   }

          //   // Render the template
          //   document.body.innerHTML = template;
          // }

          // const form = document.forms.namedItem("jo-form");

          // form.addEventListener("submit", async (event) => {
          //   event.preventDefault();

          //   const formData = new FormData(form);

          //   console.log("formData is = ", formData);
            
          //   console.log("hr_tgl_ambil value is = ", $(`#hr_tgl_ambil`).datepicker("getDate"));
          //   console.log("jumlah value is = ", $(`#qty`).val());
          //   // let dp_masuk = Date.parse($(`${formName} #modal-form-${index + 1} .tgl_masuk`).datepicker("getDate"))
          //   // console.log("status value is = ", $("input[name='status']:checked").val());

          //   console.log("list merk = ", formData.getAll('merk'));
          //   console.log("list tipe = ", formData.getAll('tipe'));
          //   console.log("list nopol_noka = ", formData.getAll('nopol_noka'));
          //   console.log("list warna = ", formData.getAll('warna'));
          //   console.log("list status = ", formData.getAll('status'));
          //   console.log("list kondisi = ", formData.getAll('kondisi'));
          //   console.log("list lainnya = ", formData.getAll('lainnya'));

          //   let no_joj = $("#no_joj").val();
          //   let hr_tgl_ambil = $('#hr_tgl_ambil').val();
          //   // let tgl_wkt_dibuat = $(new Date()).datepicker("getDate");
          //   let nama_pengirim = $(`#nama_pengirim`).val();
          //   let alamat_pengirim = $(`#alamat_pengirim`).val();
          //   let kontak_pengirim = $(`#kontak_pengirim`).val();
          //   let nama_penerima = $(`#nama_penerima`).val();
          //   let alamat_penerima = $(`#alamat_penerima`).val();
          //   let kontak_penerima = $(`#kontak_penerima`).val();

          //   console.log("hr_tgl_ambil = ", hr_tgl_ambil);
          //   // console.log("tgl_wkt_dibuat = ", tgl_wkt_dibuat);
            
          //   $("#jo-template #content > #header div:nth-child(1) h6").text(`${user.location}, ${moment(new Date()).format('DD MMMM YYYY')}`.toUpperCase());

          //   $("#jo-template #content > #header div:nth-child(2) span").html(`No. JO : ${city_code + String(moment(new Date()).format('YY'))}<span id="no_joj" contenteditable="true">${String(init_no_joj).padStart(6, '0')}</span>`);
          //   let qty = $(`#qty`).val();
          //   let nominal = $("#nominal").val().replace(/,|\Rp/g, '');
          //   let moda = $(`#moda`).val();
          //   let invoice = $(`#invoice`).val();
          //   let transfer_by = $(`#transfer_by`).val();
          //   let tagihan = form.tagihan.value;
          //   let tagihan_top = $("#tagihan_top").val();
          //   let opsi_tagihan_top = tagihan_top ? form.opsi_tagihan_top.value : null;
          //   let penawaran_kontrak = form.penawaran_kontrak.value;
          //   let opsi_penawaran_kontrak = penawaran_kontrak === "ada" ? form.opsi_penawaran_kontrak.value : null;
          //   let no_opsi_penawaran_kontrak = penawaran_kontrak === "ada" ? form.no_opsi_penawaran_kontrak.value  : null;
          //   let handling = form.handling.value;
          //   let nominal_handling = handling === "ada" ? form.nominal_handling.value : null;
          //   let nama_penerima_handling = handling === "ada" ? form.nama_penerima_handling.value : null;
          //   let asuransi = form.asuransi.value;
          //   let perincian_asuransi = asuransi === "ada" ? form.perincian_asuransi.value : null;
          //   let biaya_koord = form.biaya_koord.value;
          //   let keterangan_biaya_koord = biaya_koord === "ada" ? form.keterangan_biaya_koord.value : null;
          //   let note = $(`#note`).html();
          //   console.log("note is = ", note);
          //   // let ttd_dibuat_oleh = $("#signature-made-by").jSignature('getData', "image/svg+xml;base64").join(',');
          //   let ttd_dibuat_oleh = $("#signature-made-by").jSignature('getData', "image").join(',');
          //   console.log("ttd_dibuat_oleh is = ", ttd_dibuat_oleh);

          //   let isValid = true;

          //   console.log("is jo form valid = ", $("#jo-form").valid());
            
            
          //   if ($("#signature-made-by").jSignature('getData', 'native').length == 0) {
          //     isValid = false;
          //     // alert('Mohon Tanda Tangan Pembuat JO');
          //     $("#signature-made-by canvas").css({
          //       border: "2px solid #ff3366",
          //     });
          //     $("#sig-error").show();
          //   }

          //   console.log("isValid = ", isValid);

          //   if ($("#jo-form").valid() && isValid) {
          //     console.log("new_list_nama_pengirim in job order = ", JSON.stringify(new_list_nama_pengirim, null, '\t'));
          //     console.log("new_list_alamat_pengirim in job order = ", JSON.stringify(new_list_alamat_pengirim, null, '\t'));
          //     console.log("new_list_kontak_pengirim in job order = ", JSON.stringify(new_list_kontak_pengirim, null, '\t'));
          //     console.log("new_list_nama_penerima in job order = ", JSON.stringify(new_list_nama_penerima, null, '\t'));
          //     console.log("new_list_alamat_penerima in job order = ", JSON.stringify(new_list_alamat_penerima, null, '\t'));
          //     console.log("new_list_kontak_penerima in job order = ", JSON.stringify(new_list_kontak_penerima, null, '\t'));
          //     console.log("new_list_merk_unit in job order = ", JSON.stringify(new_list_merk_unit, null, '\t'));
          //     console.log("new_list_tipe_unit in job order = ", JSON.stringify(new_list_tipe_unit, null, '\t'));
          //     console.log("new_list_warna_unit in job order = ", JSON.stringify(new_list_warna_unit, null, '\t'));

          //     let merk = [];
          //     let tipe = [];
          //     let nopol_noka = [];
          //     let warna = [];
          //     let status = [];
          //     let kondisi = list_kondisi.map((obj) => { return obj.value; });
          //     let lainnya = list_lainnya.map((obj) => { return obj.value; });
              

          //     // List key/value pairs
          //     for (let [name, value] of formData) {
          //       console.log("List key/value pairs in formData");
          //       console.log(`${name} = ${value}`);

          //       // console.log("obj is = ",Object.keys({name})[0]);
          //       if (name.split(/\[(.*?)\]/g)[0] === "merk") {
          //         merk.push(value)
          //       } else if (name.split(/\[(.*?)\]/g)[0] === "tipe") {
          //         tipe.push(value)
          //       } else if (name.split(/\[(.*?)\]/g)[0] === "nopol_noka") {
          //         nopol_noka.push(value)
          //       } else if (name.split(/\[(.*?)\]/g)[0] === "warna") {
          //         warna.push(value)
          //       } else if (name.split(/\[(.*?)\]/g)[0] === "status") {
          //         status.push(value)
          //       } 
          //       // else if (name.split(/\[(.*?)\]/g)[0] === "kondisi") {
          //       //   kondisi.push(value)
          //       // } else if (name.split(/\[(.*?)\]/g)[0] === "lainnya") {
          //       //   lainnya.push(value)
          //       // }
          //     }

          //     new_list_nama_pengirim = new_list_nama_pengirim.map(x => ({ field: x }));
          //     new_list_alamat_pengirim = new_list_alamat_pengirim.map(x => ({ field: x }));
          //     new_list_kontak_pengirim = new_list_kontak_pengirim.map(x => ({ field: x }));
          //     new_list_nama_penerima = new_list_nama_penerima.map(x => ({ field: x }));
          //     new_list_alamat_penerima = new_list_alamat_penerima.map(x => ({ field: x }));
          //     new_list_kontak_penerima = new_list_kontak_penerima.map(x => ({ field: x }));
          //     new_list_merk_unit = new_list_merk_unit.map(x => ({ field: x }));
          //     new_list_tipe_unit = new_list_tipe_unit.map(x => ({ field: x }));
          //     new_list_warna_unit = new_list_warna_unit.map(x => ({ field: x }));

          //     const Toast = Swal.mixin({
          //       toast: true,
          //       position: 'bottom-start',
          //       showConfirmButton: false,
          //       timer: 5000,
          //       timerProgressBar: true,
          //     });
            
          //     try {
          //       const response = await fetch("/input-job-order", {
          //         method: "POST",
          //         // body: formData,
          //         body: JSON.stringify({ 
          //           no_joj,
          //           city_code,
          //           tgl_wkt_dibuat: new Date(),
          //           nama_pengirim,
          //           alamat_pengirim,
          //           kontak_pengirim,
          //           nama_penerima,
          //           alamat_penerima,
          //           kontak_penerima,
          //           hr_tgl_ambil,
          //           qty,
          //           merk,
          //           tipe,
          //           nopol_noka,
          //           warna,
          //           status,
          //           kondisi,
          //           lainnya,
          //           new_list_nama_pengirim,
          //           new_list_alamat_pengirim,
          //           new_list_kontak_pengirim,
          //           new_list_nama_penerima,
          //           new_list_alamat_penerima,
          //           new_list_kontak_penerima,
          //           new_list_merk_unit,
          //           new_list_tipe_unit,
          //           new_list_warna_unit,
          //           nominal,
          //           moda,
          //           invoice,
          //           transfer_by,
          //           tagihan,
          //           tagihan_top,
          //           opsi_tagihan_top,
          //           penawaran_kontrak,
          //           opsi_penawaran_kontrak,
          //           no_opsi_penawaran_kontrak,
          //           handling,
          //           nominal_handling,
          //           nama_penerima_handling,
          //           asuransi,
          //           perincian_asuransi,
          //           biaya_koord,
          //           keterangan_biaya_koord,
          //           note,
          //           dibuat_oleh: user.username,
          //           ttd_dibuat_oleh,
          //          }),
          //         headers: {'Content-Type': 'application/json', "Accept":"text/html"},
          //         credentials: 'same-origin',
          //       });
          //       console.log("response of createData = ", response);

          //       console.log("response body is = ", response.body);

          //       if (response.status == 200 || response.ok) {
          //         console.log('Promise resolved and HTTP status is successful');
          //         // const result = await response.json();
          //         // console.log("result from response of createData = ", result);

          //         Toast.fire({
          //           icon: 'success',
          //           html: `<label>Submit Form Success</label>`,
          //         });

          //         clearInterval(timeInterval);

          //         //   // await $.ajax({
          //     //   //   url: "/job-order-data",
          //     //   //   type: "GET",
          //     //   //   dataType: "json",
          //     //   //   success: async (res) => {
          //     //   //     console.log("results = ", res);
          //     //   //   },
          //     //   //   error: function (err) {
          //     //   //     console.log("error = ", err);
          //     //   //   },
          //     //   // });

          //         // return await fetch(`/job-order/${no_joj}`, {
          //         //   method: "GET",
          //         //   headers: {
          //         //     "Content-Type": "application/json",
          //         //   },
          //         // }).then(res => {
          //         //   let htmlText = await response.text();
          //         //   document.getElementsByTagName('body')[0].innerHTML(bodyContent);
                    
          //         // });

          //          // When the page is loaded convert it to text
          //         let responseText = await response.text();

          //         console.log("responseText is = ", responseText);

          //         // Initialize the DOM parser
          //         const parser = new DOMParser()

          //         // Parse the text
          //         const doc = await parser.parseFromString(responseText, "text/html")

          //         console.log("final result doc is = ", doc);

          //         setTimeout(() => {
          //           // app.get("/job-order/:no_joj", checkUser, async(req, res) => {
          //             window.history.pushState({}, "United Transindo Admin Dashboard", `/job-order/${no_joj}`);
          //             // $('body').html(doc);
          //             // $('body').html(responseText);
          //             // window.location.reload();

          //             let newDoc = document.open("text/html", "replace");
          //             newDoc.write(responseText);
          //             newDoc.close();
          //         }, 1000);

          //       } else {
          //         console.log('error: ', response.status, response.statusText);
          //         console.error('Promise resolved but HTTP status failed');
          //         // const Toast = Swal.mixin({
          //         //   toast: true,
          //         //   position: 'bottom-start',
          //         //   showConfirmButton: false,
          //         //   timer: 5000,
          //         //   timerProgressBar: true,
          //         // });
                    
          //         Toast.fire({
          //           icon: 'error',
          //           html: `<label>There are some errors when submitting the form</label>`,
          //         });
          //         /* Handle the error returned by the HTTP request */
          //         return {error: {status: response.status, statusText: response.statusText}};
          //       }
                
          //       // const now = performance.now();
          //       // for (let l = 0; l < 1000000; l += 1)
          //       //   getRow();
          //       // console.log(performance.now() - now);
          //     } catch (err) {
          //       console.error(err)
                
          //       // const Toast = Swal.mixin({
          //       //   toast: true,
          //       //   position: 'bottom-start',
          //       //   showConfirmButton: false,
          //       //   timer: 5000,
          //       //   timerProgressBar: true,
          //       // });
                  
          //       Toast.fire({
          //         icon: 'error',
          //         html: `<label>Submit Form Failed</label>`,
          //       });
          //     }
          //   } else {
          //     console.log("there is invalid input in Input Form Job Order");
          //   }
          // });

        });
      
    </script>
  </body>
</html>
