<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" /> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, target-densitydpi=device-dpi" /><!-- this is for mobile (Android) Chrome -->
    <meta name="viewport" content="initial-scale=1.0, width=device-height"><!--  mobile Safari, FireFox, Opera Mobile  -->
    <script type="text/javascript" src="/vendors/jSignature/libs/modernizr.js"></script>
    <title>United Transindo Admin Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/images/icons/Logo United Transindo.ico">
    <!-- core:css -->
    <link rel="stylesheet" href="/vendors/core/core.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap Msg CSS -->
    <!-- <link rel="stylesheet" href="/css/bootstrap-msg.css"> -->
    <!-- Font Awesome 4 -->
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link
      rel="stylesheet"
      href="/vendors/sweetalert2/sweetalert2.min.css"
    />
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="/fonts/feather-font/css/iconfont.css"
    />
    <link
      rel="stylesheet"
      href="/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/demo_1/style.css" />
    
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/vendors/jSignature/libs/flashcanvas.js"></script>
    <![endif]-->
    <style>
      .page-content {
        padding-bottom: 0 !important;
        display: grid;
      }
      .spinner-border {
        position: absolute;
        top: calc(50% + 30px);
        left: calc(50% + 120px);
      }
      #jo-template {
        background-color: #fff;
        margin: auto;
        width: 770px;
      }
      
      #jo-template > #header {
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-size: 0.75rem; */
        font-size: 0.625rem;
        gap: 2rem;
        margin-bottom: 0.5rem;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */        
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard & Non-prefixed version, currently
        supported by Chrome, Edge, Opera and Firefox */

        & div:nth-child(1) {
          white-space: nowrap;
        }
        & div:nth-child(3) {
          text-align: right;
          white-space: nowrap;
        }
      }
      #jo-template #content {

      }
      #jo-template #content > #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid;
        border-bottom: unset;
        /* padding: 0.75rem 2rem; */
        padding: 1rem 2rem;
        /* & h5 {
            font-weight: bold;
            line-height: 0;
        } */
        & div:nth-child(1) > h6 {
          font-weight: 800;
        }
        & div:nth-child(2) > span {
          & #no_joj {
            &:empty:before {
              content: "\feff"; /* ZERO WIDTH NO-BREAK SPACE */
            }
          }
        }
      }
      #jo-template #content > #container {
        border: 1px solid;
        padding-left: 2rem;
        padding-right: 2rem;
        & h3 {
            padding: 2rem;
            text-decoration: underline;
            text-align: center;
            font-size: 26px;
            font-weight: 800;
        }
        /* & label {
          height: 2rem;
        } */
        & .form-group {
        }
        & #data-customer {
          display: grid;

          & .form-group.form-row {
            height: 2.1875rem;
            margin: 0;
            margin-bottom: 0.25rem;
            display: inline-table;
            /* display: flex;
            align-items: center;
            flex-wrap: nowrap; */
          }
          & label {
            margin: 0;
            width: 120px;
            line-height: 1;
            vertical-align: unset;
          }
        }
        & #data-kendaraan {
          & .form-group.form-row {
            height: 2.1875rem;
            margin: 0;
            margin-bottom: 0.25rem;
            /* display: inline-table; */
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
          }
          & .quantity {
            margin-left: 0.75rem;
            display: flex;
            /* border: 2px solid #3498db; */
            border: 1px solid darkgrey;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            & button {
              /* background-color: #3498db; */
              color: #fff;
              border: none;
              cursor: pointer;
              /* font-size: 20px;
              width: 30px; */
              height: auto;
              text-align: center;
              transition: background-color 0.2s;
            }
            & .btn-danger:disabled {
              background-color: darkgrey;
              cursor: unset;
            }
          }
          & .table th, .table td {
            border: 1px solid darkslategrey !important;
            white-space: pre-wrap;
          }
          & .table tbody th {
            text-align: center;
          }
          & label.form-label {
            margin: 0;
            width: 60px;
            line-height: 1;
          }
          & label.form-check-label {
            display: flex;
            margin: 0;
            gap: 0.5rem;
          }
          & label.error {
            margin: 0;
            margin-left: 0.75rem;
          }
          & .form-check-input {
            position: relative;
          }
        }
        & #pembayaran {
          & .form-group.form-row {
            height: 2.1875rem;
            margin: 0;
            margin-bottom: 0.25rem;
            /* display: inline-table; */
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
          }
          & label {
            margin: 0;
            width: 85px;
            line-height: 1;
            /* vertical-align: unset; */
          }
          & .form-check.form-check-inline {
            margin: 0;
            display: flex;
            align-items: center;
          }
        }
        & #detail-pembayaran-1 {
          & .form-group.form-row {
            height: 2.1875rem;
            margin: 0;
            margin-bottom: 0.25rem;
            /* display: inline-table; */
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
          }
          & span.form-label {
            margin: 0;
            /* min-width: 80px;
            width: 80px; */
            min-width: 90px;
            width: 90px;
            line-height: 1;
            /* vertical-align: unset; */
            /* min-width: 120px;
            width: 120px; */
            /* min-width: 150px;
            width: 150px; */
          }
          & label.form-check-label {
            display: flex;
            margin: 0;
            gap: 0.5rem;
          }
        }
        & #detail-pembayaran-2 {
          & .form-group.form-row {
            height: 2.1875rem;
            margin: 0;
            margin-bottom: 0.25rem;
            /* display: inline-table; */
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
          }
          & span.form-label {
            margin: 0;
            min-width: 150px;
            width: 150px;
            line-height: 1;
            /* vertical-align: unset; */
          }
          & label.form-check-label {
            display: flex;
            margin: 0;
            gap: 0.5rem;
          }
          #note {   
            border: 1px solid #000;
            border-radius: 2px;
            padding: 0.5rem 1rem;
          }
        }
        & .form-check .form-check-label {
          display: inline;
        }
        & #qty {
          padding: 0;
          width: 1.2ch;
          margin: 0 0.5rem;
        }
      }
      #jo-template #content > #footer {
        border: 1px solid;
        border-top: unset;
        display: flex;
        text-align: center;

        /* & div.col-3 {
          height: 100px;
        } */

        /*This is the div within which the signature canvas is fitted*/
        & #signature-made-by,
          #signature-approved-by,
          #signature-received-by-1,
          #signature-received-by-2 {
            height: 100px;
            position: relative;
            /* border: 1px solid; */


            & div img {
              display: none !important;
            }
            
            & canvas.jSignature {
            }

            & span {
              position: absolute;
              top: 2px;
              right: 2px;
              font-size: 11px;
              line-height: 1;
              text-align: right;
            }
        }
      }

      @media print {
        body {
            visibility: hidden;
        }
        #jo-template {
            visibility: visible;
            position: absolute;
            top: 0;
            /* left: 0; */
        }
    }
      /* .alert-div > div.alert.alert-danger{
        font-weight: bold;
        text-align: center;
        width: fit-content;
        margin: auto;
        transition: 1s;
      }
      div.alert{
        display: flex;
        font-weight: bold;
        width: fit-content;
        margin: auto;
        transition: 1s;
        label{
          margin: 0;
        }
        button.close{
          padding: 0;
          top: unset;
          right: 1.25rem;
        }
      }
      .alert.show{
        animation: show_slide 1.2s ease forwards;
      }

      .alert.hide{
        animation: hide_slide 1.2s ease forwards;
      }

      @keyframes show_slide{
        0%{
          transform: translateX(100%);
        }
        45%{
          transform: translateX(-5%);
          opacity: 0.4;
        }
        75%{
          transform: translateX(2%);
          opacity: 0.8;
        }
        100%{
          transform: translateX(-2%);
          opacity: 1;
        }
      }

      @keyframes hide_slide{
        0%{
          opacity: 1;
          transform: translateX(0%);
        }
        100%{
          opacity: 0;
          transform: translateX(100%);
        }
      } */
    </style>
    <!-- End layout styles -->
    <link
      rel="shortcut icon"
      href="/images/icons/Logo United Transindo.png"
    />
  </head>
  <body>
    <div class="main-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include('./sidebar.ejs') %>
      <!-- partial -->

      <div class="page-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('./navbar.ejs') %>
        <!-- partial -->

        <div class="page-content">
          <div class="alert-div" style="display: none;">
            <!-- <div class="alert alert-icon-danger" role="alert">
              <i data-feather="alert-triangle"></i>
              A simple danger alert—check it out!
            </div> -->
          </div>
          <!-- <div class="alert alert-icon-danger" role="alert">
            <i data-feather="alert-circle"></i>
            A simple danger alert—check it out!
          </div> -->

          <!-- <div class="alert alert-icon-danger alert-danger alert-dismissible fade show" role="alert" style="display: none;">
            <i data-feather="alert-circle"></i>
            <label></label>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
        
          <nav class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard"><%= user.role %></a></li>
              <li class="breadcrumb-item active" aria-current="page">
                <%= pathname.split("/").filter(Boolean)[0] === "approve-job-order" ? "Approve Job Order" : "Job Order Detail" %>
              </li>
            </ol>
          </nav>

          <!-- <div class="spinner-border" role="status" style="display: none;"> -->
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <% if (typeof jobOrder != 'undefined' && jobOrder) { %>
          <div id="jo-template" style="display: none;">
            <div id="header">
              <div class="">
                Jl. Raya Bulevar Barat Komp. Ruko Plaza </br>
                Pasifik Blok A 3 No. 58 Jakarta </br>
                Telp. (021) 4535007-8, Fax. (021) 45865813
              </div>
              <div class="">
                <img width="270" height="50" src="/images/Logo Header PT UT.jpeg" alt="logo-header-job-order" draggable="false" />
              </div>
              <div class="">
                Komplek Pergudangan Sinar Buduran II Blok A No. 09 </br>
                Jl. Lingkar Timur Prasung, Buduran - Sidoarjo </br>
                Telp. (031) 99708669, Fax. (031) 9970879
              </div>
            </div>
                <div id="content">
                    <div id="header">
                        <div class="">
                            <h6></h6>
                        </div>
                        <div class="">
                            <span>No. JO :</span>
                        </div>
                    </div>
                    <div id="container">
                        <h3>JOB ORDER</h3>
                        <span style="font-weight: bold;"> <span>1.</span> &emsp; &emsp; <span style="text-decoration: underline;">Data Customer</span> </span>
                        <br/>
                        <br/>
                        <div id="data-customer">
                          <div class="form-group form-row">
                            <label for="nama_pengirim">Nama Pengirim</label> <span style="margin-right: .75rem;">:</span>
                            <span id="nama_pengirim"><%= jobOrder.nama_pengirim %></span>
                          </div>
                          <div class="form-group form-row">
                            <label for="alamat_pengirim">Alamat Pengirim</label> <span style="margin-right: .75rem;">:</span>
                             <span id="alamat_pengirim"><%= jobOrder.alamat_pengirim %></span>
                          </div>
                          <div class="form-group form-row">
                            <label for="kontak_pengirim">Telp.</label> <span style="margin-right: .75rem;">:</span>
                             <span id="kontak_pengirim"><%= jobOrder.kontak_pengirim %></span>
                          </div>
                          <!-- <br/> -->
                          <br/>
                          <div class="form-group form-row">
                            <label for="nama_penerima">Nama Penerima</label> <span style="margin-right: .75rem;">:</span>
                             <span id="nama_penerima"><%= jobOrder.nama_penerima %></span>
                          </div>
                          <div class="form-group form-row">
                            <label for="alamat_penerima">Alamat Penerima</label> <span style="margin-right: .75rem;">:</span>
                             <span id="alamat_penerima"><%= jobOrder.alamat_penerima %></span>
                          </div>
                          <div class="form-group form-row">
                            <label for="kontak_penerima">Telp.</label> <span style="margin-right: .75rem;">:</span>
                             <span id="kontak_penerima"><%= jobOrder.kontak_penerima %></span>
                          </div>
                        </div>
                        <!-- <br/> -->
                        <br/>
                        <span style="font-weight: bold;"> <span>2.</span> &emsp; &emsp; <span style="text-decoration: underline;">Hari / Tanggal Pengambilan</span> <span style="margin-right: .75rem;">:</span> </span> <span id="hr_tgl_ambil"><%= jobOrder.hr_tgl_ambil %></span>
                        <br/>
                        <br/>
                        <span style="font-weight: bold;"> <span>3.</span> &emsp; &emsp; <span style="text-decoration: underline;">Data Kendaraan</span> </span>
                        <br/>
                        <br/>
                        <div id="data-kendaraan">
                          <!-- <div class="form-group form-row">
                            <label for="qty" class="form-label">Jumlah</label> :
                            <div class="quantity">
                              <button type="button" class="btn-danger minus" aria-label="Decrease" disabled>&minus;</button>
                              <input type="number" id="qty" name="qty" class="input-box" value="1" min="1">
                              <button type="button" class="btn-success plus" aria-label="Increase">&plus;</button>
                            </div>
                            <span style="margin-left: 0.75rem;">Unit</span>
                          </div> -->
                          <span>Jumlah : <span id="qty"><%= jobOrder.qty %></span><span>Unit</span></span>
                          <br/>
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>No</th>
                                  <th>Merk</th>
                                  <th>Type</th>
                                  <th>Nopol / Noka</th>
                                  <th>Warna</th>
                                  <th>Status</th>
                                  <th>Kondisi Surat</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(let i=0; i<Number(jobOrder.qty); i++) {
                                  let kondisi_lainnya

                                  if (jobOrder.kondisi[i] === "ada") {
                                      kondisi_lainnya = jobOrder.kondisi[i]
                                  } else if (jobOrder.kondisi[i] === "lainnya") {
                                      // kondisi_lainnya = jobOrder.kondisi[i] + " : <br/>" + jobOrder.lainnya[i]
                                      kondisi_lainnya = jobOrder.lainnya[i]
                                  } else {
                                      kondisi_lainnya = "-"
                                  }
                                %>
                                  <tr>
                                    <th><%= i+1 %></th>
                                    <td><%= jobOrder.merk[i] ? jobOrder.merk[i] : "-" %></td>
                                    <td><%= jobOrder.type[i] ? jobOrder.type[i] : "-" %></td>
                                    <td><%= jobOrder.nopol_noka[i] ? jobOrder.nopol_noka[i] : "-" %></td>
                                    <td><%= jobOrder.warna[i] ? jobOrder.warna[i] : "-" %></td>
                                    <td><%= jobOrder.status[i] ? jobOrder.status[i] : "-" %></td>
                                    <td><%= kondisi_lainnya %></td>
                                  </tr>
                                <% } %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                          
                        <!-- <br/> -->
                        <br/>
                        <span style="font-weight: bold;"> <span>4.</span> &emsp; &emsp; <span style="text-decoration: underline;">Pembayaran</span> </span>
                        <br/>
                        <br/>
                        <div id="pembayaran">
                          <div id="nominal-row" class="form-group form-row">
                            <label for="nominal">Nominal</label> :
                            <div class="space" style="margin-right: .75rem;"></div>
                            <span id="nominal"><%= jobOrder.nominal ? jobOrder.nominal : "-" %></span>
                          </div>
                          <div class="form-group form-row">
                            <label for="moda">Moda</label> :
                            <div class="space" style="margin-right: .75rem;"></div>
                            <span id="moda"><%= jobOrder.moda ? jobOrder.moda : "-" %></span>
                          </div>
                          <div id="invoice-row" class="form-group form-row">
                            <label for="invoice">Invoice a.n.</label> :
                            <div class="space" style="margin-right: .75rem;"></div>
                            <span id="invoice"><%= jobOrder.invoice ? jobOrder.invoice : "-" %></span>
                            <br/>
                          </div>
                        </div>
                        <!-- <br/> -->
                        <!-- <span style="font-weight: bold;"> <span>4.</span> &emsp; &emsp; <span style="text-decoration: underline;">Pembayaran</span> </span> -->
                        <div id="detail-pembayaran-1">
                          <hr />
                          <div class="form-group form-row">
                            <span style="min-width: 50px; width: 50px;">1.</span>
                            <span class="form-label">Transfer By</span> :
                            <!-- 1.<label for="form-label">&emsp; &emsp;Transfer By</label> : -->
                            <div class="space" style="margin-right: .75rem;"></div>
                            <span id="transfer_by"></span>
                          </div>
                          <hr />
                          <div class="form-group form-row">
                            <span style="min-width: 50px; width: 50px;">2.</span>
                            <span class="form-label">Tagihan</span> : 
                            <div class="form-group" style="display: flex; margin: 0; white-space: nowrap; width: 100%; justify-content: space-evenly;">
                              <!-- <div class="form-check form-check-inline" style="margin: 0 0.75rem 0 1.5rem; align-self: center;"> -->
                              <div class="col-6 form-check form-check-inline" 
                                style="
                                  margin: 0;
                                  padding: 0;
                                  align-self: center;
                                  display: flex;
                                ">
                                <div class="space" style="margin-right: .75rem;"></div>
                                <span id="tagihan"></span>
                              </div>
                              <div class="col-6 form-check form-check-inline" 
                                style="
                                  margin: 0;
                                  padding: 0;
                                  padding-left: 1rem;
                                  align-self: center;
                                  justify-content: center;
                                  display: flex;
                                ">
                                <label for="tagihan_top" class="form-check-label" style="margin: 0; position: relative; display: flex; align-items: center;">
                                  TOP :
                                </label>
                                <div class="space" style="margin-right: .75rem;"></div>
                                <span id="tagihan_top"></span>
                              </div>
                            </div>
                          </div>
                          <hr />
                          <div class="form-group form-row">
                            <span style="min-width: 50px; width: 50px;">3.</span>
                            <span class="form-label">Penawaran / Kontrak</span> : 
                            <div class="space" style="margin-right: .75rem;"></div>
                            <div class="form-group" style="display: flex; margin: 0; white-space: nowrap; width: 100%; justify-content: space-evenly;">
                              <div class="col-12 form-check form-check-inline" 
                                style="
                                  margin: 0;
                                  padding: 0;
                                  align-self: center;
                                  display: flex;
                                ">
                                    <span id="penawaran_kontrak"></span>
                                </div>
                            </div>
                          </div>
                          <hr />
                          <div class="form-group form-row">
                            <span style="min-width: 50px; width: 50px;">4.</span>
                            <span class="form-label">Handling</span> :
                            <div class="space" style="margin-right: .75rem;"></div>
                            <div class="form-group" style="display: flex; margin: 0; white-space: nowrap; width: 100%; justify-content: space-evenly;">
                              <div class="col-12 form-check form-check-inline" 
                                style="
                                  margin: 0;
                                  padding: 0;
                                  align-self: center;
                                  display: flex;
                                ">
                                    <span id="handling"></span>
                                </div>
                            </div>
                          </div>
                          <hr />
                          <br/>
                          <br/>
                        </div>
                        <div id="detail-pembayaran-2">
                          <div id="asuransi-row" class="form-group form-row">
                            <span class="form-label">Asuransi</span> :
                            <div class="space" style="margin-right: .75rem;"></div>
                            <div class="form-group" style="display: flex; margin: 0; white-space: nowrap; width: 100%; justify-content: space-evenly;">
                              <div class="col-12 form-check form-check-inline" 
                                style="
                                  margin: 0;
                                  padding: 0;
                                  align-self: center;
                                  display: flex;
                                ">
                                <span id="asuransi"></span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group form-row">
                            <span class="form-label">Biaya Koord / Kawal</span> :
                            <div class="space" style="margin-right: .75rem;"></div>
                            <div class="form-group" style="display: flex; margin: 0; white-space: nowrap; width: 100%; justify-content: space-evenly;">
                              <div class="col-12 form-check form-check-inline" 
                                style="
                                  margin: 0;
                                  padding: 0;
                                  align-self: center;
                                  display: flex;
                                ">
                                <span id="biaya_koord"></span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group form-row" style="height: auto;">
                            <label for="note" style="margin: 0; width: 110px; min-width: 110px;"><b>Note</b></label><b style="font-weight: 400;">:</b>
                            <div class="space" style="margin-right: .75rem;"></div>
                            <div class="form-check form-check-inline" style="margin: 0;">
                                <div id="note"></div>
                            </div>
                          </div>
                        <!-- <br/> -->
                        <br/>
                        <br/>
                    </div>
                    <!-- <div id="footer" style="border: 1px solid; border-top: unset; display: flex; text-align: center;">
                        <div class="col-3" style="border-right: 1px solid; padding: 0; display: block;">
                            <div style="border-bottom: 1px solid;">Dibuat oleh, </div>
                            <div style="height: 100px; align-content: center;">
                                <input type="text" name="" id="">
                                <input type="button" value="Submit">
                            </div>
                        </div>
                        <div class="col-3" style="border-right: 1px solid; padding: 0; display: block;">
                            <div style="border-bottom: 1px solid;">Disetujui oleh, </div>
                            <div style="height: 100px; align-content: center;">
                                <input type="text" name="" id="">
                                <input type="button" value="Submit">
                            </div>
                        </div>
                        <div class="col-3" style="border-right: 1px solid; padding: 0; display: block;">
                            <div style="border-bottom: 1px solid;">Diterima oleh, </div>
                            <div style="height: 100px; align-content: center;">
                                <input type="text" name="" id="">
                                <input type="button" value="Submit">
                            </div>
                        </div>
                        <div class="col-3" style="padding: 0; display: block;">
                            <div style="border-bottom: 1px solid;">Diterima oleh, </div>
                            <div style="height: 100px; align-content: center;">
                                <input type="text" name="" id="">
                                <input type="button" value="Submit">
                            </div>
                        </div>
                    </div> -->
                </div>
            
                <div id="footer">
                  <div class="col-3" style="border-right: 1px solid; padding: 0; display: block;">
                      <div style="border-bottom: 1px solid;">Dibuat oleh, </div>
                      <!-- <div style="height: 100px; align-content: center;">
                          <input type="text" name="" id="">
                          <input type="button" value="Submit">
                      </div> -->
                      <div id="signature-made-by">
                        <span></span>
                      </div>

                  </div>
                  <div class="col-3" style="border-right: 1px solid; padding: 0; display: block;">
                      <div style="border-bottom: 1px solid;">Disetujui oleh, </div>
                      <div id="signature-approved-by"><span style="display: none;"></span></div>
                  </div>
                  <div class="col-3" style="border-right: 1px solid; padding: 0; display: block;">
                      <div style="border-bottom: 1px solid;">Diterima oleh, </div>
                      <div id="signature-received-by-1"></div>
                  </div>
                  <div class="col-3" style="padding: 0; display: block;">
                      <div style="border-bottom: 1px solid;">Diterima oleh, </div>
                      <div id="signature-received-by-2"></div>
                  </div>
              </div>
              <div id="jo-template-action" style="margin-top: 4rem; text-align: center;">
                <% if (user.role === "Operational") { %>
                  <input id="btnSubmit" class="btn btn-primary" type="submit" value="Submit Approval">
                <% } else if (saveFile) { %>
                  <input id="btnSave" class="btn btn-primary" type="submit" value="Save to PDF">
                <% } %>
              </div>
          </div>
          <% } %>

        </div>

        <!-- partial:partials/_footer.html -->
        <%- include('./footer.ejs') %>
        <!-- partial -->
      </div>
    </div>

    <!-- core:js -->
    <script src="/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- jQuery -->
    <script src="/vendors/jSignature/libs/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="/vendors/jquery.autosize.input/jquery.autosize.input.js"></script>
    <!-- Bootstrap JS -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <!-- Bootsrap Msg Js -->
    <!-- <script src="/js/bootstrap-msg.js"></script> -->
    <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- <script src="https://github.com/jquery/jquery-ui/blob/main/ui/i18n/datepicker-id.js" type='text/javascript'></script> -->
    <script src="/vendors/sweetalert2/sweetalert2.min.js"></script>
    <script src="/vendors/promise-polyfill/polyfill.min.js"></script>
    <!-- Optional:  polyfill for ES6 Promises for IE11 and Android browser -->
    <script src="/vendors/moment/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/id.min.js" integrity="sha512-he8U4ic6kf3kustvJfiERUpojM8barHoz0WYpAUDWQVn61efpm3aVAD8RWL8OloaDDzMZ1gZiubF9OSdYBqHfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js"></script>
    <script src="/vendors/jSignature/src/jSignature.js"></script>
    <script src="/vendors/jSignature/src/plugins/jSignature.CompressorBase30.js"></script>
    <script src="/vendors/jSignature/src/plugins/jSignature.CompressorSVG.js"></script>
    <script src="/vendors/jSignature/src/plugins/jSignature.UndoButton.js"></script> 
    <script src="/vendors/jSignature/src/plugins/signhere/jSignature.SignHere.js"></script> 
    <script src="https://willowsystems.github.io/jSignature/js/libs/jSignature.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/jspdf@1.5.3/dist/jspdf.min.js"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="/vendors/feather-icons/feather.min.js"></script>
    <script src="/js/template.js"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <!-- <script src="/js/datepicker-id.js" charset="UTF-8"></script> -->
    <!-- <script src="/js/datepicker.js"></script> -->
    <!-- <script src="/js/timepicker.js"></script> -->
    <!-- end custom js for this page -->

    <script>
        $(document).ready(function() {
          const user = <%- JSON.stringify(user) %>;
          console.log("user in job order detail = ", JSON.stringify(user, null, '\t'));

          const pathname = "<%= pathname %>";
          console.log("pathname in job order detail = ", pathname);

          const viewOnly = <%= viewOnly %>;
          console.log("viewOnly in job order detail = ", viewOnly);

          const saveFile = <%= saveFile %>;
          console.log("saveFile in job order detail = ", saveFile);

          const jobOrder = <%- JSON.stringify(jobOrder) %>;
          console.log("jobOrder in job order detail = ", JSON.stringify(jobOrder, null, '\t'));

          if (user.role === "Operational") {
            $("#nominal-row").hide();
            $("#invoice-row").hide();
            $("#asuransi-row").hide();
            $("#detail-pembayaran-1").hide();
          } else {
            $("#nominal-row").show();
            $("#invoice-row").show();
            $("#asuransi-row").show();
            $("#detail-pembayaran-1").show();
          }

          let city
          switch (jobOrder.city_code) {
              case "01":
                  city = "Sidoarjo";
                  break;
              case "02":
                  city = "Cikarang";
                  break;
              case "03":
                  city = "Jakarta";
                  break;
              case "04":
                  city = "Makassar";
                  break;
          }

          function humanize(str) {
            let frags = str.split('_');
            for (let i=0; i<frags.length; i++) {
                frags[i] = frags[i].charAt(0).toUpperCase() + frags[i].slice(1);
            }
            return frags.join(' ');
          }
          
          // // var timeInterval = null;
          // var timeInterval = 
          //     setInterval(function() {
          //       $("#signature-approved-by span").html(`${moment().format('DD-MMM-YYYY')}<br/>${moment().format('HH:mm')}`);
          //     }, 1000);
          var timeInterval

          if (pathname.split("/").filter(Boolean)[0] === "approve-job-order") {
            timeInterval = 
              setInterval(function() {
                $("#signature-approved-by span").html(`${moment().format('DD-MMM-YYYY')}<br/>${moment().format('HH:mm')}`);
              }, 1000);
          } else {
            timeInterval = null
          }

          console.log("timeInterval is = ", timeInterval);

          console.log("width approved by before load data = ", $(`#signature-approved-by`).width());

          // $(`#signature-approved-by`).jSignature({
          //       'UndoButton': true,
          //       'decor-color': 'transparent',
          //       'color': '#000',
          //       'width': '100%',
          //       'height': '100',
          //       'lineWidth': 1,
          //     });

          //     $("#signature-approved-by").append("<p class='error text-danger' id='sig-error' style='display: none;'>Mohon Tanda Tangan Field Disetujui Oleh</p>" );
          // if (pathname.split("/").filter(Boolean)[0] === "approve-job-order") {
          //   console.log("pathname is job order approval 1 init");
          //   // var timeInterval = null;
          //   var timeInterval = 
          //     setInterval(function() {
          //       $("#signature-approved-by span").html(`${moment().format('DD-MMM-YYYY')}<br/>${moment().format('HH:mm')}`);
          //     }, 1000);

          
            $("#signature-approved-by").bind('change', function(event) {
              console.log("bind change ttd length = ", $("#signature-approved-by").jSignature('getData', 'native').length);
              $("#signature-approved-by canvas").css({
                border: "none",
              });
              $("#sig-error").hide();
              if ($("#signature-approved-by").jSignature('getData', 'native').length != 0) {
                // timeInterval = 
                //   setInterval(function() {
                //     $("#signature-approved-by span").html(`${moment().format('DD-MMM-YYYY')}<br/>${moment().format('HH:mm')}`);
                //   }, 1000);
                $("#signature-approved-by span").show();
              } else {
                // timeInterval = null;
                $("#signature-approved-by span").hide();
              }
            });
          // }

          

          const loadData = async () => {
            $("#jo-template #content > #header div:nth-child(1) h6").text(`${city},  ${moment(new Date(jobOrder.tgl_wkt_dibuat)).format('DD MMMM YYYY')}`.toUpperCase());

            $("#jo-template #content > #header div:nth-child(2) span").html(`No. JO : ${jobOrder.city_code + String(moment(new Date(jobOrder.tgl_wkt_dibuat)).format('YY')) + jobOrder.no_joj}`);

            $("#transfer_by").text(jobOrder.transfer_by ? humanize(jobOrder.transfer_by) : "-")
            $("#tagihan").text(jobOrder.tagihan ? humanize(jobOrder.tagihan) : "-")
            $("#tagihan_top").text(jobOrder.tagihan_top ? jobOrder.tagihan_top + " " + humanize(jobOrder.opsi_tagihan_top) : "-")
            $("#asuransi").text(!jobOrder.asuransi || jobOrder.asuransi === "tidak_ada" ? "Tidak Ada" : `${humanize(jobOrder.perincian_asuransi)}`)
            
            let penawaran_kontrak

            if (!jobOrder.penawaran_kontrak || jobOrder.penawaran_kontrak === "tidak_ada") {
              penawaran_kontrak = "Tidak Ada"
            } else {
              let opsi_penawaran_kontrak = jobOrder.opsi_penawaran_kontrak
              if (opsi_penawaran_kontrak === "ban") {
                  opsi_penawaran_kontrak = "BAN (Berita Acara Negosiasi)"
              } else if (opsi_penawaran_kontrak === "penawaran") {
                  opsi_penawaran_kontrak = "Surat Penawaran"
              }
              penawaran_kontrak = `${humanize(opsi_penawaran_kontrak)}${jobOrder.no_opsi_penawaran_kontrak ? ` No. ${jobOrder.no_opsi_penawaran_kontrak}` : ""}`;
            }

            $("#penawaran_kontrak").text(penawaran_kontrak)

            let handling

            if (!jobOrder.handling || jobOrder.handling === "tidak_ada") {
              handling = "Tidak Ada"
            } else {
              handling = `${jobOrder.nominal_handling}${jobOrder.nama_penerima_handling ? ` dengan penerima ${humanize(jobOrder.nama_penerima_handling)}` : ""}`
            }
            
            $("#handling").text(handling);

            let biaya_koord

            if (!jobOrder.biaya_koord) {
              biaya_koord = "-"
            } else if (jobOrder.biaya_koord === "tidak_ada") {
              biaya_koord = humanize(jobOrder.biaya_koord)
            } else {
              biaya_koord = jobOrder.keterangan_biaya_koord
            }

            $("#biaya_koord").text(biaya_koord);

            if (jobOrder.note) {
              $("#note").html(jobOrder.note)
            } else {
              $("#note").text("-")
            }

            if (jobOrder.ttd_dibuat_oleh) {
                let data = jobOrder.ttd_dibuat_oleh.split(",");
                // console.log("data from ttd_dibuat_oleh = ", data);
                let img = new Image();
                img.style.width = "100%";
                img.style.height = "100%";
                img.style.objectFit = "contain";
                img.setAttribute("draggable", false);
                img.src = 'data:' + data[0] + ',' + data[1];
                // console.log("img is = ", img);
                $(img).appendTo($('#signature-made-by'));

                $("#signature-made-by span").html(`${moment(jobOrder.tgl_wkt_dibuat).format('DD-MMM-YYYY')}<br/>${moment(jobOrder.tgl_wkt_dibuat).format('HH:mm')}`);
            }

            if (jobOrder.ttd_disetujui_oleh) {
                let data = jobOrder.ttd_disetujui_oleh.split(",");
                // console.log("data from ttd_disetujui_oleh = ", data);
                let img = new Image();
                img.style.width = "100%";
                img.style.height = "100%";
                img.style.objectFit = "contain";
                img.setAttribute("draggable", false);
                img.src = 'data:' + data[0] + ',' + data[1];
                // console.log("img is = ", img);
                $(img).appendTo($('#signature-approved-by'));

                $("#signature-approved-by span").html(`${moment(jobOrder.tgl_wkt_disetujui).format('DD-MMM-YYYY')}<br/>${moment(jobOrder.tgl_wkt_disetujui).format('HH:mm')}`);
                $("#signature-approved-by span").show();

                if (pathname.split("/").filter(Boolean)[0] === "approve-job-order") {
                  $("#jo-template-action").hide();
                }
            }

            // if (pathname.split("/").filter(Boolean)[0] === "approve-job-order") {
            //   console.log("pathname is job order approval 2 load data");
            //   console.log("width approved by after load data = ", $(`#signature-approved-by`).width());
            //   $(`#signature-approved-by`).jSignature({
            //     'UndoButton': true,
            //     'decor-color': 'transparent',
            //     'color': '#000',
            //     'width': '100%',
            //     'height': '100',
            //     'lineWidth': 1,
            //   });

            //   $("#signature-approved-by").append("<p class='error text-danger' id='sig-error' style='display: none;'>Mohon Tanda Tangan Field Disetujui Oleh</p>" );

            //   // $("#signature-approved-by").bind('change', function(event) {
            //   //   $("#signature-approved-by canvas").css({
            //   //     border: "none",
            //   //   });
            //   //   $("#sig-error").hide();
            //   //   if ($("#signature-approved-by").jSignature('getData', 'native').length != 0) {
            //   //     // timeInterval = 
            //   //     //   setInterval(function() {
            //   //     //     $("#signature-approved-by span").html(`${moment().format('DD-MMM-YYYY')}<br/>${moment().format('HH:mm')}`);
            //   //     //   }, 1000);
            //   //     $("#signature-approved-by span").show();
            //   //   } else {
            //   //     // timeInterval = null;
            //   //     $("#signature-approved-by span").hide();
            //   //   }
            //   // });
            // }
          };

          loadData();

          // $("#signature-approved-by").bind('change', function(event) {
          //     $("#signature-approved-by canvas").css({
          //       border: "none",
          //     });
          //     $("#sig-error").hide();
          //     if ($("#signature-approved-by").jSignature('getData', 'native').length != 0) {
          //       // timeInterval = 
          //       //   setInterval(function() {
          //       //     $("#signature-approved-by span").html(`${moment().format('DD-MMM-YYYY')}<br/>${moment().format('HH:mm')}`);
          //       //   }, 1000);
          //       $("#signature-approved-by span").show();
          //     } else {
          //       // timeInterval = null;
          //       $("#signature-approved-by span").hide();
          //     }
          //   });

          $(".spinner-border").hide();

          $("#jo-template").show();

          console.log("width approved by aftered load data = ", $(`#signature-approved-by`).width());

          if (pathname.split("/").filter(Boolean)[0] === "approve-job-order") {

              $(`#signature-approved-by`).jSignature({
                'UndoButton': true,
                'decor-color': 'transparent',
                'color': '#000',
                'width': '100%',
                'height': '100',
                'lineWidth': 1,
              });

              $("#signature-approved-by").append("<p class='error text-danger' id='sig-error' style='display: none;'>Mohon Tanda Tangan Field Disetujui Oleh</p>" );
            }

          // $("#signature-approved-by").bind('change', function(event) {
          //     $("#signature-approved-by canvas").css({
          //       border: "none",
          //     });
          //     $("#sig-error").hide();
          //     if ($("#signature-approved-by").jSignature('getData', 'native').length != 0) {
          //       // timeInterval = 
          //       //   setInterval(function() {
          //       //     $("#signature-approved-by span").html(`${moment().format('DD-MMM-YYYY')}<br/>${moment().format('HH:mm')}`);
          //       //   }, 1000);
          //       $("#signature-approved-by span").show();
          //     } else {
          //       // timeInterval = null;
          //       $("#signature-approved-by span").hide();
          //     }
          //   });
        
          const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-start',
            showConfirmButton: false,
            timer: 5000,
            timerProgressBar: true,
          });

          if (viewOnly === false) {
            // console.log("starting to direct download");
            // alert("starting to direct download");
            setTimeout(async () => {
              await DownloadToPDF();
            }, 1000);
          }

          async function DownloadToPDF() {
            $("#jo-template-action").attr('hidden', 'true')
            let fileName = `Job Order ${jobOrder.city_code + String(moment(new Date(jobOrder.tgl_wkt_dibuat)).format('YY')) + jobOrder.no_joj}`;
            let source = document.querySelector('#jo-template')

            // console.log(source.clientWidth);
            // console.log($(source).width());

            // console.log(source.clientHeight);
            // console.log($(source).height());     
            try {
              await html2canvas(source, {
                allowTaint: true,
                useCORS: true,
                scale: 1,
              }).then(canvas => {
                // document.body.appendChild(canvas);
                // const pdf = new jsPDF('p', 'mm', "a4");
                const pdf = new jsPDF('p', 'mm', [$("#jo-template").width() + 50, $("#jo-template").height() + 50]);
                pdf.setProperties({
                    title: `${fileName} - Finance.pdf`
                });
                console.log("pdf Finance => ", pdf);
                // console.log(pdf.internal.pageSize.width);
                // console.log(pdf.internal.pageSize.height);
                
                pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 25, 25, pdf.internal.pageSize.width - 50, pdf.internal.pageSize.height - 50);
                pdf.save(`${fileName} - Finance.pdf`);
                // window.open(pdf.output('bloburl', `${fileName} - Finance.pdf`))
                // pdf.output('save', `${fileName} - Finance.pdf`);
                // pdf.output('pdfjsnewwindow');
                // pdf.output('dataurlnewwindow');
                // window.open(pdf.output('bloburl'), '_blank');
                // window.open(pdf.output('datauristring'), '_blank');
                // pdf.output('dataurlnewwindow', `${fileName} - Finance.pdf`)

                // let pdfPage = window.open();
                // pdfPage.document.open();
                // pdfPage.document.write("<embed width='100%' height='100%' src='" + pdf.output('datauristring') + "'/>");
                // pdfPage.document.close();
              });
            } catch (error) {
              console.error('Error:', error.message);
              Toast.fire({
                    icon: 'error',
                    html: `<label>Save Finance PDF Failed</label>`,
                  });
            }

            let clonedSource = document.querySelector('#jo-template')

            clonedSource.querySelector("#nominal-row").hidden = true;
            clonedSource.querySelector("#invoice-row").hidden = true;
            clonedSource.querySelector("#asuransi-row").hidden = true;
            clonedSource.querySelector("#detail-pembayaran-1").hidden = true;

            clonedSource.querySelector("#nominal-row").setAttribute("data-html2canvas-ignore", true);
            clonedSource.querySelector("#invoice-row").setAttribute("data-html2canvas-ignore", true);
            clonedSource.querySelector("#asuransi-row").setAttribute("data-html2canvas-ignore", true);
            clonedSource.querySelector("#detail-pembayaran-1").setAttribute("data-html2canvas-ignore", true);

            // console.log(clonedSource.clientWidth);
            // console.log($(clonedSource).width());

            // console.log(clonedSource.clientHeight);
            // console.log($(clonedSource).height());            

            // setTimeout(async () => {
                try {
                  await html2canvas(clonedSource, {
                      allowTaint: true,
                      useCORS: true,
                      scale: 1,
                  }).then(canvas => {
                    // document.body.appendChild(canvas);
                      const pdf = new jsPDF('p', 'mm', [$(clonedSource).width() + 50, $(clonedSource).height() + 50]);
                      pdf.setProperties({
                          title: `${fileName} - Operational.pdf`
                      });
                      console.log("pdf Operational => ", pdf);
        //               const imgData = canvas.toDataURL('image/png');
        // const pdf = new jsPDF({
        //   orientation: 'landscape',
        // });
        // const imgProps= pdf.getImageProperties(imgData);
        // const pdfWidth = pdf.internal.pageSize.getWidth();
        // const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
        // pdf.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
        // pdf.save('download.pdf');
                //       console.log(pdf.internal.pageSize.width);
                // console.log(pdf.internal.pageSize.height);

                let width = pdf.internal.pageSize.getWidth()
let height = pdf.internal.pageSize.getHeight()

// console.log(width);
// console.log(height);

let widthRatio = width / canvas.width
let heightRatio = height / canvas.height

// console.log(widthRatio);
// console.log(heightRatio);

let ratio = widthRatio > heightRatio ? heightRatio : widthRatio

// console.log(ratio);

                      // pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 0, canvas.width * ratio, canvas.height * ratio);
                      pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 25, 25, pdf.internal.pageSize.getWidth() - 50, pdf.internal.pageSize.getHeight() - 50);
                      pdf.save(`${fileName} - Operational.pdf`);
                      window.open(pdf.output('bloburl', `${fileName} - Operational.pdf`))
                      // pdf.output('save', `${fileName} - Operational.pdf`);
                      // pdf.output('dataurlnewwindow');
                      $("#jo-template-action").removeAttr('hidden', 'true')
                  });
                } catch (error) {
                  console.error('Error:', error.message);
                        
                  Toast.fire({
                    icon: 'error',
                    html: `<label>Save Operational PDF Failed</label>`,
                  });
                }
            // }, 0);
          }
      
          $("#btnSave").on('click', async function (e) {
            await DownloadToPDF();
          });

          $("#btnSubmit").on('click', async function (e) {
            let ttd_disetujui_oleh = $("#signature-approved-by").jSignature('getData', "image").join(',');
            console.log("ttd_disetujui_oleh is = ", ttd_disetujui_oleh);

            let isValid = true;
            
            if ($("#signature-approved-by").jSignature('getData', 'native').length == 0) {
              isValid = false;
              // alert('Mohon Tanda Tangan Penyetuju JO');
              $("#signature-approved-by canvas").css({
                border: "2px solid #ff3366",
              });
              $("#sig-error").show();
            }

            console.log("isValid = ", isValid);

            if (isValid) {
              try {
                const response = await fetch(`/input-job-order/${jobOrder.no_joj}`, {
                  method: "PUT",
                  // body: formData,
                  body: JSON.stringify({ 
                    disetujui_oleh: user.username,
                    ttd_disetujui_oleh,
                   }),
                  headers: {'Content-Type': 'application/json', "Accept":"text/html"},
                  credentials: 'same-origin',
                });
                console.log("response of updateData = ", response);

                console.log("response body is = ", response.body);

                if (response.status == 200 || response.ok) {
                  console.log('Promise resolved and HTTP status is successful');
                  // const result = await response.json();
                  // console.log("result from response of createData = ", result);

                  Toast.fire({
                    icon: 'success',
                    html: `<label>Approve Job Order ${jobOrder.no_joj} Success</label>`,
                  });

                  clearInterval(timeInterval);

                  $("#jo-template-action").attr('hidden', 'true')
                  let fileName = `Job Order ${jobOrder.city_code + String(moment(new Date(jobOrder.tgl_wkt_dibuat)).format('YY')) + jobOrder.no_joj}`;
                  let source = document.querySelector('#jo-template')

                  // console.log(source.clientWidth);
                  // console.log($(source).width());

                  // console.log(source.clientHeight);
                  // console.log($(source).height());     
                  try {
                    await html2canvas(source, {
                      allowTaint: true,
                      useCORS: true,
                      scale: 1,
                    }).then(canvas => {
                      // document.body.appendChild(canvas);
                      // const pdf = new jsPDF('p', 'mm', "a4");
                      const pdf = new jsPDF('p', 'mm', [$("#jo-template").width() + 50, $("#jo-template").height() + 50]);
                      pdf.setProperties({
                          title: `${fileName} - Operational.pdf`
                      });
                      console.log("pdf Operational => ", pdf);
                      // console.log(pdf.internal.pageSize.width);
                      // console.log(pdf.internal.pageSize.height);
                      
                      pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 25, 25, pdf.internal.pageSize.width - 50, pdf.internal.pageSize.height - 50);
                      pdf.save(`${fileName} - Operational.pdf`);
                      window.open(pdf.output('bloburl', `${fileName} - Operational.pdf`))
                      $("#jo-template-action").removeAttr('hidden', 'true')
                    });
                  } catch (error) {
                    console.error('Error:', error.message);
                    Toast.fire({
                          icon: 'error',
                          html: `<label>Save Operational PDF Failed</label>`,
                        });
                  }

                  //   // await $.ajax({
              //   //   url: "/job-order-data",
              //   //   type: "GET",
              //   //   dataType: "json",
              //   //   success: async (res) => {
              //   //     console.log("results = ", res);
              //   //   },
              //   //   error: function (err) {
              //   //     console.log("error = ", err);
              //   //   },
              //   // });

                  // return await fetch(`/job-order/${no_joj}`, {
                  //   method: "GET",
                  //   headers: {
                  //     "Content-Type": "application/json",
                  //   },
                  // }).then(res => {
                  //   let htmlText = await response.text();
                  //   document.getElementsByTagName('body')[0].innerHTML(bodyContent);
                    
                  // });

                   // When the page is loaded convert it to text
                  // let responseText = await response.text();

                  // console.log("responseText is = ", responseText);

                  // // Initialize the DOM parser
                  // const parser = new DOMParser()

                  // // Parse the text
                  // const doc = await parser.parseFromString(responseText, "text/html")

                  // console.log("final result doc is = ", doc);

                  // setTimeout(() => {
                  //   // app.get("/job-order/:no_joj", checkUser, async(req, res) => {
                  //     window.history.pushState({}, "United Transindo Admin Dashboard", `/job-order/${no_joj}`);
                  //     // $('body').html(doc);
                  //     // $('body').html(responseText);
                  //     // window.location.reload();

                  //     let newDoc = document.open("text/html", "replace");
                  //     newDoc.write(responseText);
                  //     newDoc.close();
                  // }, 1000);

                } else {
                  console.log('error: ', response.status, response.statusText);
                  console.error('Promise resolved but HTTP status failed');
                  // const Toast = Swal.mixin({
                  //   toast: true,
                  //   position: 'bottom-start',
                  //   showConfirmButton: false,
                  //   timer: 5000,
                  //   timerProgressBar: true,
                  // });
                    
                  Toast.fire({
                    icon: 'error',
                    html: `<label>There are some errors when submitting the form</label>`,
                  });
                  /* Handle the error returned by the HTTP request */
                  return {error: {status: response.status, statusText: response.statusText}};
                }
                
                // const now = performance.now();
                // for (let l = 0; l < 1000000; l += 1)
                //   getRow();
                // console.log(performance.now() - now);
              } catch (err) {
                console.error(err)
                
                // const Toast = Swal.mixin({
                //   toast: true,
                //   position: 'bottom-start',
                //   showConfirmButton: false,
                //   timer: 5000,
                //   timerProgressBar: true,
                // });
                  
                Toast.fire({
                  icon: 'error',
                  html: `<label>Submit Form Failed</label>`,
                });
              }
            }
          });

          

          // if (pathname.split("/").filter(Boolean)[0] === "approve-job-order") {
          //   // var timeInterval = null;
          //   var timeInterval = 
          //     setInterval(function() {
          //       $("#signature-approved-by span").html(`${moment().format('DD-MMM-YYYY')}<br/>${moment().format('HH:mm')}`);
          //     }, 1000);

          //   $(`#signature-approved-by`).jSignature({
          //     'UndoButton': true,
          //     'decor-color': 'transparent',
          //     'color': '#000',
          //     'width': '100%',
          //     'height': '100',
          //     'lineWidth': 1,
          //   });

          //   $("#signature-approved-by").append("<p class='error text-danger' id='sig-error' style='display: none;'>Mohon Tanda Tangan Field Disetujui Oleh</p>" );

          //   $("#signature-approved-by").bind('change', function(event) {
          //     $("#signature-approved-by canvas").css({
          //       border: "none",
          //     });
          //     $("#sig-error").hide();
          //     if ($("#signature-approved-by").jSignature('getData', 'native').length != 0) {
          //       $("#signature-approved-by span").show();
          //     } else {
          //       $("#signature-approved-by span").hide();
          //     }
          //   });

          //   $("#btnSubmit").on('click', async function (e) {
          //     let ttd_disetujui_oleh = $("#signature-approved-by").jSignature('getData', "image").join(',');
          //     console.log("ttd_disetujui_oleh is = ", ttd_disetujui_oleh);

          //     let isValid = true;
              
          //     if ($("#signature-approved-by").jSignature('getData', 'native').length == 0) {
          //       isValid = false;
          //       // alert('Mohon Tanda Tangan Pembuat JO');
          //       $("#signature-approved-by canvas").css({
          //         border: "2px solid #ff3366",
          //       });
          //       $("#sig-error").show();
          //     }

          //     console.log("isValid = ", isValid);

          //     // if (isValid) {
          //   });
          // }
          
        });
    </script>
  </body>
</html>
