<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>United Transindo Admin Dashboard</title>
    <link rel="icon" type="image/x-icon" href="./images/icons/Logo United Transindo.ico">
	<!-- core:css -->
	<link rel="stylesheet" href="./vendors/core/core.css">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- end plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="./fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="./vendors/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->
  <!-- Layout styles -->  
	<link rel="stylesheet" href="./css/demo_1/style.css">
  <!-- End layout styles -->
  <!-- <link rel="shortcut icon" href="./images/favicon.png" /> -->
  <link rel="icon" type="image/x-icon" href="./images/icons/Logo United Transindo.ico">
  <style>
	.form-control:focus {
		box-shadow: none;
		border-color: #BA68C8
	}

	.profile-button {
		background: rgb(99, 39, 120);
		box-shadow: none;
		border: none
	}

	.profile-button:hover {
		background: #682773
	}

	.profile-button:focus {
		background: #682773;
		box-shadow: none
	}

	.profile-button:active {
		background: #682773;
		box-shadow: none
	}

	.back:hover {
		color: #682773;
		cursor: pointer
	}

	.labels {
		font-size: 11px
	}

	.add-experience:hover {
		background: #BA68C8;
		color: #fff;
		cursor: pointer;
		border: solid 1px #BA68C8
	}

	/*This is the div within which the signature canvas is fitted*/
	& #signature {
            height: 100px;
            /* position: relative; */
			border: 1px solid;
			/* padding: 0; */
			/* display: block; */


            & div img {
              display: none !important;
            }
            
            & canvas.jSignature {
            }
        }
  </style>
</head>
<body>
	<div class="main-wrapper">

		<!-- partial:../../partials/_sidebar.html -->
		<%- include('./sidebar.ejs') %>
		<!-- partial -->
	
		<div class="page-wrapper">
				
			<!-- partial:../../partials/_navbar.html -->
			<%- include('./navbar.ejs') %>
			<!-- partial -->

			<div class="page-content">

        <div class="profile-page tx-13">
          	<!-- <div class="row">
				<div class="col-12 grid-margin">
					<div class="profile-header">
						<div class="cover">
							<div class="gray-shade"></div>
							<figure>
								<img src="https://via.placeholder.com/1148x272" class="img-fluid" alt="profile cover">
							</figure>
							<div class="cover-body d-flex justify-content-between align-items-center">
								<div>
									<img class="profile-pic" src="https://via.placeholder.com/100x100" alt="profile">
									<span class="profile-name"></span>
								</div>
								<div class="d-none d-md-block">
									<button class="btn btn-primary btn-icon-text btn-edit-profile">
										<i data-feather="edit" class="btn-icon-prepend"></i> Edit profile
									</button>
								</div>
							</div>
						</div>
						<div class="header-links">
							<ul class="links d-flex align-items-center mt-3 mt-md-0">
								<li class="header-link-item d-flex align-items-center active">
									<i class="mr-1 icon-md" data-feather="columns"></i>
									<a class="pt-1px d-none d-md-block" href="#">Timeline</a>
								</li>
								<li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
									<i class="mr-1 icon-md" data-feather="user"></i>
									<a class="pt-1px d-none d-md-block" href="#">About</a>
								</li>
								<li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
									<i class="mr-1 icon-md" data-feather="users"></i>
									<a class="pt-1px d-none d-md-block" href="#">Friends <span class="text-muted tx-12">3,765</span></a>
								</li>
								<li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
									<i class="mr-1 icon-md" data-feather="image"></i>
									<a class="pt-1px d-none d-md-block" href="#">Photos</a>
								</li>
								<li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
									<i class="mr-1 icon-md" data-feather="video"></i>
									<a class="pt-1px d-none d-md-block" href="#">Videos</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div> -->
			<div class="row profile-body">
				<div class="row">
					<!-- <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper"></div> -->
					<div class="d-md-block col-md-4 col-xl-3 left-wrapper">
						<div class="card rounded d-flex flex-column align-items-center text-center">
							<div class="card-body">
								<img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
								<span id="profile-name" class="font-weight-bold"></span>
								<span id="profile-email" class="text-black-50"></span>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-xl-6 middle-wrapper">
						<div class="card p-3 py-5">
							<div class="card-header">
								<div class="d-flex justify-content-between align-items-center mb-3">
									<h4 class="text-right">Profile Settings</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="row mt-2">
									<div class="col-md-6">
										<label class="labels">First Name</label>
										<input type="text" id="first_name" name="first_name" class="form-control" placeholder="first name" value="">
									</div>
									<div class="col-md-6">
										<label class="labels">Surname</label>
										<input type="text" id="surname" name="surname" class="form-control" value="" placeholder="surname">
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-12">
										<label class="labels">Username</label>
										<input type="text" id="username" name="username" class="form-control" placeholder="enter username" value="">
									</div> 
									<div class="col-md-12">
										<label class="labels">Email Address</label>
										<input type="text" id="email" name="email" class="form-control" placeholder="enter email address" value="">
									</div>
									<div class="col-md-12">
										<label class="labels">Role</label>
										<input type="text" id="role" name="role" class="form-control" placeholder="enter role" value="">
									</div> 
									<div class="col-md-12">
										<label class="labels">Location</label>
										<input type="text" id="location" name="location" class="form-control" placeholder="enter location" value="">
									</div> 
									<div class="col-md-12">
										<label class="labels">Password</label>
										<input type="password" id="password" name="password" class="form-control" placeholder="enter password" value="">
									</div> 
									<div class="col-md-12">
										<label class="labels">Signature</label>
										<!-- <div style="height: 100px; align-content: center;">
											<input type="text" name="" id="">
											<input type="button" value="Submit">
										</div> -->
										<div id="signature" name="signature">
										</div>
				  
									</div>
									<!-- <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
									<div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
									<div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
									<div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
									<div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
									<div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div> -->
								</div>
								<!-- <div class="row mt-3">
									<div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
									<div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
								</div> -->
							</div>
							<div class="card-footer">
								<div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
							</div>
						</div>
					</div>
					<!-- <div class="col-md-4">
						<div class="p-3 py-5">
							<div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
							<div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
							<div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
						</div>
					</div> -->
				</div>
				<!-- left wrapper start -->
				<!-- <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
					<div class="card rounded">
						<div class="card-body">
							<div class="d-flex align-items-center justify-content-between mb-2">
								<h6 class="card-title mb-0">About</h6>
								<div class="dropdown">
									<button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
										<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="git-branch" class="icon-sm mr-2"></i> <span class="">Update</span></a>
										<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View all</span></a>
									</div>
								</div>
							</div>
							<p>Hi! I'm Amiah the Senior UI Designer at NobleUI. We hope you enjoy the design and quality of Social.</p>
							<div class="mt-3">
								<label class="tx-11 font-weight-bold mb-0 text-uppercase">Joined:</label>
								<p class="text-muted">November 15, 2015</p>
							</div>
							<div class="mt-3">
								<label class="tx-11 font-weight-bold mb-0 text-uppercase">Lives:</label>
								<p class="text-muted">New York, USA</p>
							</div>
							<div class="mt-3">
								<label class="tx-11 font-weight-bold mb-0 text-uppercase">Email:</label>
								<p class="text-muted">me@nobleui.com</p>
							</div>
							<div class="mt-3">
								<label class="tx-11 font-weight-bold mb-0 text-uppercase">Website:</label>
								<p class="text-muted">www.nobleui.com</p>
							</div>
							<div class="mt-3 d-flex social-links">
								<a href="javascript:;" class="btn d-flex align-items-center justify-content-center border mr-2 btn-icon github">
									<i data-feather="github" data-toggle="tooltip" title="github.com/nobleui"></i>
								</a>
								<a href="javascript:;" class="btn d-flex align-items-center justify-content-center border mr-2 btn-icon twitter">
									<i data-feather="twitter" data-toggle="tooltip" title="twitter.com/nobleui"></i>
								</a>
								<a href="javascript:;" class="btn d-flex align-items-center justify-content-center border mr-2 btn-icon instagram">
									<i data-feather="instagram" data-toggle="tooltip" title="instagram.com/nobleui"></i>
								</a>
							</div>
						</div>
					</div>
				</div> -->
				<!-- left wrapper end -->
				<!-- middle wrapper start -->
				<!-- <div class="col-md-8 col-xl-6 middle-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin">
							<div class="card rounded">
								<div class="card-header">
									<div class="d-flex align-items-center justify-content-between">
										<div class="d-flex align-items-center">
											<img class="img-xs rounded-circle" src="https://via.placeholder.com/37x37" alt="">													
											<div class="ml-2">
												<p>Mike Popescu</p>
												<p class="tx-11 text-muted">1 min ago</p>
											</div>
										</div>
										<div class="dropdown">
											<button class="btn p-0" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="icon-lg pb-3px" data-feather="more-horizontal"></i>
											</button>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
												<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="meh" class="icon-sm mr-2"></i> <span class="">Unfollow</span></a>
												<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="corner-right-up" class="icon-sm mr-2"></i> <span class="">Go to post</span></a>
												<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="share-2" class="icon-sm mr-2"></i> <span class="">Share</span></a>
												<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="copy" class="icon-sm mr-2"></i> <span class="">Copy link</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="card-body">
									<p class="mb-3 tx-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus minima delectus nemo unde quae recusandae assumenda.</p>
									<img class="img-fluid" src="https://via.placeholder.com/513x342" alt="">
								</div>
								<div class="card-footer">
									<div class="d-flex post-actions">
										<a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
											<i class="icon-md" data-feather="heart"></i>
											<p class="d-none d-md-block ml-2">Like</p>
										</a>
										<a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
											<i class="icon-md" data-feather="message-square"></i>
											<p class="d-none d-md-block ml-2">Comment</p>
										</a>
										<a href="javascript:;" class="d-flex align-items-center text-muted">
											<i class="icon-md" data-feather="share"></i>
											<p class="d-none d-md-block ml-2">Share</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card rounded">
								<div class="card-header">
									<div class="d-flex align-items-center justify-content-between">
										<div class="d-flex align-items-center">
											<img class="img-xs rounded-circle" src="https://via.placeholder.com/37x37" alt="">													
											<div class="ml-2">
												<p>Mike Popescu</p>
												<p class="tx-11 text-muted">5 min ago</p>
											</div>
										</div>
										<div class="dropdown">
											<button class="btn p-0" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="icon-lg pb-3px" data-feather="more-horizontal"></i>
											</button>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
												<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="meh" class="icon-sm mr-2"></i> <span class="">Unfollow</span></a>
												<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="corner-right-up" class="icon-sm mr-2"></i> <span class="">Go to post</span></a>
												<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="share-2" class="icon-sm mr-2"></i> <span class="">Share</span></a>
												<a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="copy" class="icon-sm mr-2"></i> <span class="">Copy link</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="card-body">
									<p class="mb-3 tx-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
									<img class="img-fluid" src="https://via.placeholder.com/513x342" alt="">
								</div>
								<div class="card-footer">
									<div class="d-flex post-actions">
										<a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
											<i class="icon-md" data-feather="heart"></i>
											<p class="d-none d-md-block ml-2">Like</p>
										</a>
										<a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
											<i class="icon-md" data-feather="message-square"></i>
											<p class="d-none d-md-block ml-2">Comment</p>
										</a>
										<a href="javascript:;" class="d-flex align-items-center text-muted">
											<i class="icon-md" data-feather="share"></i>
											<p class="d-none d-md-block ml-2">Share</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- middle wrapper end -->
				<!-- right wrapper start -->
				<!-- <div class="d-none d-xl-block col-xl-3 right-wrapper">
					<div class="row">
						<div class="col-md-12 grid-margin">
							<div class="card rounded">
								<div class="card-body">
									<h6 class="card-title">latest photos</h6>
									<div class="latest-photos">
										<div class="row">
											<div class="col-md-4">
												<figure>
													<img class="img-fluid" src="https://via.placeholder.com/67x67" alt="">
												</figure>
											</div>
											<div class="col-md-4">
												<figure>
													<img class="img-fluid" src="https://via.placeholder.com/67x67" alt="">
												</figure>
											</div>
											<div class="col-md-4">
												<figure>
													<img class="img-fluid" src="https://via.placeholder.com/67x67" alt="">
												</figure>
											</div>
											<div class="col-md-4">
												<figure>
													<img class="img-fluid" src="https://via.placeholder.com/67x67" alt="">
												</figure>
											</div>
											<div class="col-md-4">
												<figure>
													<img class="img-fluid" src="https://via.placeholder.com/67x67" alt="">
												</figure>
											</div>
											<div class="col-md-4">
												<figure>
													<img class="img-fluid" src="https://via.placeholder.com/67x67" alt="">
												</figure>
											</div>
											<div class="col-md-4">
												<figure class="mb-0">
													<img class="img-fluid" src="https://via.placeholder.com/67x67" alt="">
												</figure>
											</div>
											<div class="col-md-4">
												<figure class="mb-0">
													<img class="img-fluid" src="https://via.placeholder.com/67x67" alt="">
												</figure>
											</div>
											<div class="col-md-4">
												<figure class="mb-0">
													<img class="img-fluid" src="https://via.placeholder.com/67x67" alt="">
												</figure>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 grid-margin">
							<div class="card rounded">
								<div class="card-body">
									<h6 class="card-title">suggestions for you</h6>
									<div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
										<div class="d-flex align-items-center hover-pointer">
											<img class="img-xs rounded-circle" src="https://via.placeholder.com/37x37" alt="">													
											<div class="ml-2">
												<p>Mike Popescu</p>
												<p class="tx-11 text-muted">12 Mutual Friends</p>
											</div>
										</div>
										<button class="btn btn-icon"><i data-feather="user-plus" data-toggle="tooltip" title="Connect"></i></button>
									</div>
									<div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
										<div class="d-flex align-items-center hover-pointer">
											<img class="img-xs rounded-circle" src="https://via.placeholder.com/37x37" alt="">													
											<div class="ml-2">
												<p>Mike Popescu</p>
												<p class="tx-11 text-muted">12 Mutual Friends</p>
											</div>
										</div>
										<button class="btn btn-icon"><i data-feather="user-plus" data-toggle="tooltip" title="Connect"></i></button>
									</div>
									<div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
										<div class="d-flex align-items-center hover-pointer">
											<img class="img-xs rounded-circle" src="https://via.placeholder.com/37x37" alt="">													
											<div class="ml-2">
												<p>Mike Popescu</p>
												<p class="tx-11 text-muted">12 Mutual Friends</p>
											</div>
										</div>
										<button class="btn btn-icon"><i data-feather="user-plus" data-toggle="tooltip" title="Connect"></i></button>
									</div>
									<div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
										<div class="d-flex align-items-center hover-pointer">
											<img class="img-xs rounded-circle" src="https://via.placeholder.com/37x37" alt="">													
											<div class="ml-2">
												<p>Mike Popescu</p>
												<p class="tx-11 text-muted">12 Mutual Friends</p>
											</div>
										</div>
										<button class="btn btn-icon"><i data-feather="user-plus" data-toggle="tooltip" title="Connect"></i></button>
									</div>
									<div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
										<div class="d-flex align-items-center hover-pointer">
											<img class="img-xs rounded-circle" src="https://via.placeholder.com/37x37" alt="">													
											<div class="ml-2">
												<p>Mike Popescu</p>
												<p class="tx-11 text-muted">12 Mutual Friends</p>
											</div>
										</div>
										<button class="btn btn-icon"><i data-feather="user-plus" data-toggle="tooltip" title="Connect"></i></button>
									</div>
									<div class="d-flex justify-content-between">
										<div class="d-flex align-items-center hover-pointer">
											<img class="img-xs rounded-circle" src="https://via.placeholder.com/37x37" alt="">													
											<div class="ml-2">
												<p>Mike Popescu</p>
												<p class="tx-11 text-muted">12 Mutual Friends</p>
											</div>
										</div>
										<button class="btn btn-icon"><i data-feather="user-plus" data-toggle="tooltip" title="Connect"></i></button>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- right wrapper end -->
			</div>
        </div>

			</div>

			<!-- partial:../../partials/_footer.html -->
			<%- include('./footer.ejs') %>
			<!-- partial -->
	
		</div>
	</div>

	<!-- core:js -->
	<script src="./vendors/core/core.js"></script>
	<!-- endinject -->
	<!-- plugin js for this page -->
	<!-- jQuery -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
	<script src="/vendors/jquery-ui/jquery-ui.min.js"></script>
	<!-- Bootstrap JS --> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/vendors/jSignature/src/jSignature.js"></script>
    <script src="/vendors/jSignature/src/plugins/jSignature.CompressorBase30.js"></script>
    <script src="/vendors/jSignature/src/plugins/jSignature.CompressorSVG.js"></script>
    <script src="/vendors/jSignature/src/plugins/jSignature.UndoButton.js"></script> 
    <script src="/vendors/jSignature/src/plugins/signhere/jSignature.SignHere.js"></script> 
    <script src="https://willowsystems.github.io/jSignature/js/libs/jSignature.min.js"></script>
	<!-- end plugin js for this page -->
	<!-- inject:js -->
	<script src="./vendors/feather-icons/feather.min.js"></script>
	<script src="./js/template.js"></script>
	<!-- endinject -->
	<!-- custom js for this page -->
	<!-- end custom js for this page -->

	<script>
		$(document).ready(function() {
			// console.log("session in profile = ", JSON.stringify(session, null, '\t'));
		
			var user = <%- JSON.stringify(user) %>;
			console.log("user in profile = ", JSON.stringify(user, null, '\t'));

			// var secret = '<%= process.env.SECRET_KEY %>';

			// console.log("secret is = ", secret);

			var userPassword = '<%= userPassword %>';

			console.log("userPassword is = ", userPassword);
			
	// 		app.post('/decrypt',(req, res) => {
	//     const { encryptedData, key } = req.body;
	//     const decryptedData = decrypt(encryptedData, key);
	//     res.json({ decryptedData });
	// });
			
			// var userPassword;

			// const decryptedPassword = async () => {
			// 	try {
			// 		const response = await fetch("/decrypt", {
			// 			method: "POST",
			// 			body: JSON.stringify({
			// 				encryptedData: user.password,
			// 				key: secret,
			// 			}),
            //             headers: {'Content-Type': 'application/json'}
			// 		});
			// 		console.log("response of decrypt = ", response);

			// 		const result = await response.json();

			// 		console.log("result of decrypt = ", result);

			// 		if (result.decryptedData) {
			// 			userPassword = result.decryptedData;

			// 			console.log("userPassword inside async decrypted = ", userPassword); 
			// 			// document.querySelector("#password").value = userPassword;
			// 			return userPassword
			// 		}
			// 	} catch (err) {
			// 		// console.error('Promise rejected');
			// 		// console.log("err = ", err);
			// 		console.error(err);
			// 	}
			// };

			// decryptedPassword();

			// fetch(`/decrypt`, {
			// 			method: "POST",
			// 			body: JSON.stringify({
			// 				encryptedData: user.password,
			// 				key: secret,
			// 			}),
            //             headers: {'Content-Type': 'application/json'}
			// 		})
			// 	.then(res => res.json())
			// 	.then(data => {
			// 	// do something with the data
			// 	userPassword = data.decryptedData
			// 	console.log(data)
			// 	})
			// 	.catch(error => {
			// 		// your error handling code
			// 		console.log(error)
			// 	});

			// userPassword = decryptedPassword();

			

			// const getUserPassword = async () => {
			// 	return await decryptedPassword();
			// };

			// console.log("userPassword is = ", userPassword); 
			// console.log("userPassword is = ", getUserPassword()); 

			// const checkUserHosting = async (hostEmail, callback) => {
			// 	let hostEmailData  = await fetch(`http://localhost:3001/activities/${hostEmail}`)
			// 	//use string literals
			// 	let hostEmailJson = await hostEmailData.json();
			// 	return hostEmailJson;
			// 	}

			// 	const getActivity = async () => {
			// 	let jsonData = await activitiesActions.checkUserHosting(theEmail);
			// 	//now you can directly use jsonData
			// 	}
			document.querySelector("#profile-name").textContent = user.name
			document.querySelector("#profile-email").textContent = user.email

			document.querySelector("#first_name").value = user.name;
			// document.querySelector("#surname").value = user.name;
			document.querySelector("#username").value = user.username;
			document.querySelector("#email").value = user.email;
			document.querySelector("#role").value = user.role;
			document.querySelector("#location").value = user.location;
			document.querySelector("#password").value = userPassword;

			$(`#signature`).jSignature({
                'UndoButton': true,
                'decor-color': 'transparent',
                'color': '#000',
                'width': '100%',
                'height': '100',
                'lineWidth': 1,
              });

			  

			  if (user.signature) {
                let data = user.signature.split(",");
                console.log("data from ttd_dibuat_oleh = ", data);
                let img = new Image();
                img.style.width = "100%";
                img.style.height = "100%";
                img.style.objectFit = "contain";
                img.setAttribute("draggable", false);
                img.src = 'data:' + data[0] + ',' + data[1];
                console.log("img is = ", img);
				// $("#signature").jSignature('getData', 'data:' + data[0] + ',' + data[1]);
                $(img).appendTo($('#signature'));


                // $("#signature span").html(`${moment(jobOrders.tgl_wkt_dibuat).format('DD-MMM-YYYY')}<br/>${moment(jobOrders.tgl_wkt_dibuat).format('HH:mm')}`);
              }

		// 	$("#signature").bind('change', function(event) {
        //     $("#signature canvas").css({
        //       border: "none",
        //     });
        //     $("#sig-error").hide();
        //     if ($("#signature").jSignature('getData', 'native').length != 0) {
        //       $("#signature span").show();
        //     } else {
        //       $("#signature span").hide();
        //     }
        //   });
		});
	</script>
</body>
</html>